/* day_tracking.css */

body {
  font-family: Arial, sans-serif;
  color: black;
}

label {
  cursor: default;
}

th,
td {
  border: 0px;
  padding: 5px;
  text-align: left;
}

input[type="text"] {
  width: 100%;
}

#comments-section {
  width: 100%;
  height: calc(80%);
  /* Adjust the height as needed */
  box-sizing: border-box;
  padding: 10px;
  resize: vertical;
}