# Database environment file
.env
projectenv/*

.vscode
__pycache__/*
__pycache__/
__init__.py
asert/*
.DS_Store

dashboard/__pycache__/*
dashboard/__init__.py
dashboard/migrations/*
dashboard/management/commands/__pycache__/*
users/__pycache__/*
users/__init__.py
users/migrations/*

client_signs/*
kaddum_signs/*
