# Database environment file
.env
projectenv/*
examplepage/__pycache__/*
examplepage/migrations/*
__pycache__/*
__init__.py
asert/*
dashboard/__pycache__/*
dashboard/__init__.py
dashboard/migrations/*

dashboard/management/commands/__pycache__/*
static/images/logo.jpg

users/__pycache__/*
users/__init__.py
users/migrations/*
.DS_Store
__pycache__/
.env
client_signs/*
kaddum_signs/*