{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4">
    <h1 class="text-left mb-4 h4">Day Tracking</h1>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
          <form method="POST" enctype="multipart/form-data" action="{% url 'create_day_tracking' %}">
                <div class="form-section-header">Project Information</div>
                <div class="form-group">
                    {{ form.project_no.label_tag }}
                    {{ form.project_no }}
                    {{ form.project_no.errors }}
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" placeholder="Date" name="date" onchange="updateCostingFields()">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="day">Day</label>
                        <input type="text" class="form-control" id="day" readonly>
                    </div>
                </div>
                <!-- Employees on shift -->   
                <div class="form-section-header">Employee</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle">Name</th>
                            <th scope="col" class="align-middle">Position</th>
                            <th scope="col" class="align-middle" width="12%">Start Time</th>
                            <th scope="col" class="align-middle" width="12%">Finish Time</th>
                            <th scope="col" class="align-middle" width="12%">Total Hours</th>
                            <th scope="col" class="align-middle" width="20%">Brief Work Description</th>
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        <tr>
                            <td class="align-middle">
                                <select class="form-control" name="name[]">
                                    <option value="">Select Name</option>
                                    {% for name in employee_names %}
                                    <option value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="align-middle">
                                <select class="form-control" name="position[]">
                                    <option value="">Select Position</option>
                                    {% for position in positions %}
                                    <option value="{{ position }}">{{ position }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="number" class="form-control" name="rate[]" step="0.01" min="0"></td>
                            <td><input type="number" class="form-control" name="hours[]" min="0"></td>
                            <td class="align-middle text-right"></td> <!-- Total Amount -->
                            <td class="align-middle text-center"></td> <!-- Indigenous -->
                        </tr>                        
                    <tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="3">Total</th>
                            <td>33</td>
                            <td>240</td>
                            <td scope="row" colspan="3"></td>
                        </tr>
                    </tfoot>

                <!-- Equipment--> 
                </table>
                <div class="link-container">
                    <a href="#" class="add-link" onclick="addEmployeeRow(); return false;">+ Add New Row</a>
                </div>
                <div class="form-section-header">Equipment</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle">Type</th>
                            <th scope="col" class="align-middle">Equipment</th>
                            <th scope="col" class="align-middle" width="12%">Start Time</th>
                            <th scope="col" class="align-middle" width="12%">Finish Time</th>
                            <th scope="col" class="align-middle" width="12%">Total Hours</th>
                            <th scope="col" class="align-middle" width="20%">Brief Work Description</th>
                        </tr>
                    </thead>  
                    <tbody id="employeeTableBody">
                      <tr>
                          <td class="align-middle">
                              <select class="form-control" name="name[]">
                                  <option value="">Select Name</option>
                                  {% for name in employee_names %}
                                  <option value="{{ name }}">{{ name }}</option>
                                  {% endfor %}
                              </select>
                          </td>
                          <td class="align-middle">
                              <select class="form-control" name="position[]">
                                  <option value="">Select Position</option>
                                  {% for position in positions %}
                                  <option value="{{ position }}">{{ position }}</option>
                                  {% endfor %}
                              </select>
                          </td>
                          <td><input type="number" class="form-control" name="rate[]" step="0.01" min="0"></td>
                          <td><input type="number" class="form-control" name="hours[]" min="0"></td>
                          <td class="align-middle text-right"></td> <!-- Total Amount -->
                          <td class="align-middle text-center"></td> <!-- Indigenous -->
                      </tr>                        
                  <tbody>
                  <tfoot>
                      <tr>
                          <th scope="row" colspan="3">Total</th>
                          <td>33</td>
                          <td>240</td>
                          <td scope="row" colspan="3"></td>
                      </tr>
                  </tfoot>
              </table>
              <div class="link-container">
                  <a href="#" class="add-link" onclick="addEmployeeRow(); return false;">+ Add New Row</a>
              </div>

                <!-- Acknowledgements -->              
                <div class="form-section-header">Acknowledgements</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="20%"></th> <!-- Empty top-left corner cell -->
                            <th scope="col" width="25%">Name</th>
                            <th scope="col" width="40%">Signature</th>
                            <th scope="col" width="15%">Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Kaddum Supervisor</th> <!-- Row header -->
                            <td class="align-middle text-right">Clinton Rasmussen</td> <!-- Example data -->
                            <td class="align-middle text-right">Clinton Rasmussen</td> <!-- Example data -->
                            <td class="align-middle text-right">05/09/2024</td> <!-- Example data -->
                        </tr>
                        <tr>
                            <th scope="row">Client Representative</th> <!-- Row header -->
                            <td class="align-middle text-right">Bell Environmental</td> <!-- Example data -->
                            <td class="align-middle text-right">Bell Environmental</td> <!-- Example data -->
                            <td class="align-middle text-right">05/09/2024</td> <!-- Example data -->
                        </tr>       
                    </tbody>
                </table>
                <button type="submit" class="form-group btn btn-success col-2" value="submit">Complete</button>
                <button type="submit" class="form-group btn btn-outline-success col-2" value="submit">Save as Draft</button>
                <a href="{% url 'index' %}" type="submit" class="form-group btn btn-outline-primary col-2" value="back">Back</a>

            </form>
        </div>
    </div>
</div>

{% endblock page_content %}