<!-- {% extends "partials/base.html" %}

{% block page_content %}
<form method="post">
  {% csrf_token %}
  {{ day_tracking.as_p }}
  {{ employee_formset.management_form }}
  {{ equipment_formset.management_form }}
  <div class="employee-formset">
    {% for form in employee_formset %}
      {{ form.as_p }}
    {% endfor %}
  </div>
  <div class="equipment-formset">
    {% for form in equipment_formset %}
      {{ form.as_p }}
    {% endfor %}
  </div>
  <button type="submit">Submit</button>
</form>

{% endblock page_content %} -->