{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4">
  <h1 class="text-left mb-4 h4">Edit Day Tracking Record</h1>
  <form method="POST" enctype="multipart/form-data" action="{% url 'edit_day_tracking' record.day_tracking_id %}">
    {% csrf_token %}

    <!-- Project Details -->
    <div class="form-section-header">Project Details</div>
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.project_no.label_tag }} {{ form.project_no }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.record_date.label_tag }} {{ form.record_date }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.record_shift.label_tag }} {{ form.record_shift }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.work_area.label_tag }} {{ form.work_area }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.client_representative.label_tag }} {{ form.client_representative }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.weather.label_tag }} {{ form.weather }}
      </div>
    </div>
    <div class="col-md-12 mb-3">
      {{ form.comments.label_tag }} {{ form.comments }}
    </div>



    <!-- Acknowledgements -->
    <div class="form-section-header">Acknowledgements</div>
    <div class="row">
      <div class="col-md-4 mb-3">
        {{ form.kaddum_name.label_tag }} {{ form.kaddum_name }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.kaddum_sign.label_tag }} {{ form.kaddum_sign }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.kaddum_sign_date.label_tag }} {{ form.kaddum_sign_date }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.client_name.label_tag }} {{ form.client_name }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.client_sign.label_tag }} {{ form.client_sign }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.client_sign_date.label_tag }} {{ form.client_sign_date }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
{% endblock %}
