{% load static %}
<div class="p-2 pt-0 sidenav" id="sidebar">
  <a href="#" class="close-btn d-flex justify-content-end" onclick="toggleSideBar()">
    <h2><i class="bi bi-filter-right"></i></h2>
  </a>

  <div class="d-flex mb-5 justify-content-center">
    <img src="{% static 'kaddum-logo1.svg' %}" id="side_bar_kaddum_logo" alt="Kaddum Logo" class="col-4">
  </div>

  <a href="{% url 'index' %}" class="d-flex align-items-center menu-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
    <i class="bi bi-grid-fill"></i>
    <span class="txt">Dashboard</span>
  </a>

  {% if request.user.roles == "super admin" or request.user.roles == "supervisor" %}
  <a href="{% url 'all_dairy_record' %}" class="d-flex align-items-center {% if request.resolver_match.url_name == 'all_dairy_record' %}active{% endif %}">
    <i class="bi bi-file-earmark"></i>
    <span class="txt">Daily Record</span>
  </a>
  {% endif %}

  {% if request.user.roles == "super admin" or request.user.roles == "supervisor" %}
  <a href="{% url 'day_tracking_list' %}" class="d-flex align-items-center {% if request.resolver_match.url_name == 'day_tracking_list' %}active{% endif %}">
    <i class="bi bi-file-earmark-text-fill"></i>
    <span class="txt">Day Tracking</span>
  </a>
  {% endif %}

  {% if request.user.roles == "super admin" %}
  <a href="{% url 'all_daily_costing' %}" class="d-flex align-items-center {% if request.resolver_match.url_name == 'all_daily_costing' %}active{% endif %}">
    <i class="bi bi-calculator"></i>
    <span class="txt">Daily Costing</span>
  </a>
  {% endif %}

  {% if request.user.roles == "super admin" or request.user.roles == "supervisor" %}
  <a href="{% url 'all_weekly_report' %}" class="d-flex align-items-center {% if request.resolver_match.url_name == 'all_weekly_report' %}active{% endif %}">
    <i class="bi bi-people-fill"></i>
    <span class="txt">Weekly Report</span>
  </a>
  {% endif %}

  {% if request.user.roles == "super admin" or request.user.roles == "supervisor" %}
  <a href="{% url 'employees_list' %}" class="d-flex align-items-center {% if request.resolver_match.url_name == 'employees_list' %}active{% endif %}">
    <i class="bi bi-people-fill"></i>
    <span class="txt">Employees</span>
  </a>
  {% endif %}

  {% if request.user.roles == "super admin" %}
  <a href="{% url 'project_list' %}" class="d-flex align-items-center {% if request.resolver_match.url_name == 'project_list' %}active{% endif %}">
    <i class="bi bi-briefcase"></i>
    <span class="txt">Projects</span>
  </a>
  {% endif %}

  {% if request.user.roles == "super admin" %}
  <a href="{% url 'resource_cost_list' %}" class="d-flex align-items-center {% if request.resolver_match.url_name == 'resource_cost_list' %}active{% endif %}">
    <i class="bi bi-tools"></i>
    <span class="txt">Resource Costs</span>
  </a>
  {% endif %}

  <a href="{% url 'logout' %}" class="d-flex align-items-center">
    <i class="bi bi-box-arrow-right"></i>
    <span class="txt">Logout</span>
  </a>
</div>
