{% extends "partials/base.html" %}

{% block page_content %}

<div class="container mt-4 d-flex align-items-center">
    <div class="me-auto p-2">
        <h1 class="text-left mb-4 h4">Cost Tracking</h1>
    </div>
    <div class="input-group p-2" style="width: 250px;">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary border border-none" type="button" style="background-color: #dee2e6;"><i class="bi bi-search"></i></button>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form>            
                <div class="form-section-header">Draft Forms</div>
                <table class="table table-bordered" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="12%">Record Date</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="9%">Day</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="9%">Week</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="11%">Project No.</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Project Name</th>                            
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="15%">Modification</th>       
                            <th scope="col" class="align-middle" style="border-left-style: inset;" width="17%"></th>       
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        {% for costing_record in draft_records %}
                        <tr>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.record_date|date:"d/m/Y" }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.day_of_week }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.year_week }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.project_no.project_no }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.project_no.project_name }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.last_modification_date|date:"d/m/Y H:i" }}</td>                            
                            <td class="align-middle" style="border-left-style: inset;">                           
                                <div class="row justify-content-evenly">
                                    <a href="{% url 'edit_daily_costing' costing_record.cost_tracking_id %}" class="btn btn-outline-success btn-sm col-5">Edit</a>
                                </div>
                            </td>          
                        </tr>                        
                        {% endfor %}
                    <tbody>
                </table>
               
                <div class="form-section-header" style="margin-top: 80px;">Completed Forms</div>
              
                <table class="table table-bordered" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="12%">Record Date</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="9%">Day</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="9%">Week</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="11%">Project No.</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Project Name</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="15%">Modification</th>       
                            <th scope="col" class="align-middle" style="border-left-style: inset;" width="17%"></th>       
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        {% for costing_record in completed_records %}
                        <tr>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.record_date|date:"d/m/Y" }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.day_of_week }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.year_week }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.project_no.project_no }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.project_no.project_name }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ costing_record.last_modification_date|date:"d/m/Y H:i" }}</td>
                            <td class="align-middle" style="border-left-style: inset;">
                                <div class="row justify-content-evenly">
                                    <a href="#" class="btn btn-outline-primary btn-sm col-5">View</a>
                                </div>
                            </td>          
                        </tr>      
                        {% endfor %}                  
                    <tbody>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock page_content %}