{% extends "partials/base.html" %}

{% block page_content %}

<div class="container mt-4 d-flex align-items-center">
    <div class="me-auto p-2">
        <h1 class="text-left mb-4 h4">Cost Tracking</h1>
    </div>
    <div class="input-group p-2" style="width: 250px;">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary border border-none" type="button" style="background-color: #dee2e6;"><i class="bi bi-search"></i></button>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form>            
                <div class="form-section-header">Draft Forms</div>
                <table class="table table-bordered" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="14%">Record Date</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="13%">Day</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="13%">Week</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Project Name</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="20%">Modification</th>       
                            <th scope="col" class="align-middle" style="border-left-style: inset;" width="17%"></th>       
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        <tr>
                            <td class="align-middle" style="border-right-style: hidden;">02/05/2024</td>
                            <td class="align-middle" style="border-right-style: hidden;">Thursday</td>
                            <td class="align-middle" style="border-right-style: hidden;">202417</td>
                            <td class="align-middle" style="border-right-style: hidden;">ERA General Civil Works</td>
                            <td class="align-middle" style="border-right-style: hidden;">02/05/2024 16:30</td>
                            <td class="align-middle" style="border-left-style: inset;">                           
                                <div class="row justify-content-evenly">
                                    <a href="create_daily_costing" class="btn btn-outline-success btn-sm col-5">Edit</a>
                                </div>
                            </td>          
                        </tr>                        
                    <tbody>
                </table>
               
                <div class="form-section-header" style="margin-top: 80px;">Completed Forms</div>
              
                <table class="table table-bordered" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="14%">Record Date</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="13%">Day</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="13%">Week</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Project Name</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="20%">Modification</th>       
                            <th scope="col" class="align-middle" style="border-left-style: inset;" width="17%"></th>       
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        <tr>
                            <td class="align-middle" style="border-right-style: hidden;">01/05/2024</td>
                            <td class="align-middle" style="border-right-style: hidden;">Wednesday</td>
                            <td class="align-middle" style="border-right-style: hidden;">202417</td>
                            <td class="align-middle" style="border-right-style: hidden;">Pit 3 Dewatering Filters</td>
                            <td class="align-middle" style="border-right-style: hidden;">01/05/2024 17:00</td>
                            <td class="align-middle" style="border-left-style: inset;">
                                <div class="row justify-content-evenly">
                                    <a href="#" class="btn btn-outline-success btn-sm col-5">Edit</a>
                                    <a href="#" class="btn btn-outline-primary btn-sm col-5">View</a>
                                </div>
                            </td>          
                        </tr>                        
                    <tbody>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock page_content %}