{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4">
    <h1 class="text-left mb-4 h4">Daily Costing</h1>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-section-header">Shift Information</div>
                <div class="form-group">
                    <label for="jobName">Job Name</label>
                    <input type="text" class="form-control" id="jobName" placeholder="Job Name" pattern="[A-Za-z0-9\s]+"
                        required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" placeholder="Date">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="day">Day</label>
                        <input type="text" class="form-control" id="day" readonly>
                    </div>
                </div>
                <div class="form-section-header">Costing Breakdown</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col" width="15%">Total Hours</th>
                            <th scope="col" width="15%">Rate</th>
                            <th scope="col" width="10%">Total Amount</th>
                            <th scope="col" width="10%">Indigenous</th>
                            <th scope="col" width="10%">Local</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">Melissa Pettersson</td>
                            <td class="align-middle">Amex Operator</td>
                            <td><input type="number" class="form-control" id="melissaHours" name="melissaHours"
                                    value="8" min="0"></td>
                            <td><input type="number" class="form-control" id="melissaRate" name="melissaRate"
                                    step="0.01" value="30" min="0"></td>
                            <td id="melissaTotal" class="align-middle text-right">$240.00</td>
                            <td class="align-middle text-center">⭕</td> <!-- Space for "No" -->
                            <td class="align-middle text-center">⭕</td> <!-- Circle for "Yes" -->
                        </tr>
                        <tr>
                            <td class="align-middle">David Cook</td>
                            <td class="align-middle">Dozer Operator</td>
                            <td><input type="number" class="form-control" id="melissaHours" name="melissaHours"
                                    value="8" min="0"></td>
                            <td><input type="number" class="form-control" id="melissaRate" name="melissaRate"
                                    step="0.01" value="30" min="0"></td>
                            <td id="melissaTotal" class="align-middle text-right">$240.00</td>
                            <td class="align-middle text-center"> </td> <!-- Space for "No" -->
                            <td class="align-middle text-center"> </td> <!-- Circle for "Yes" -->
                        </tr>
                        <tr>
                            <td class="align-middle">Tipene Shepherd</td>
                            <td class="align-middle">Deck Hand</td>
                            <td><input type="number" class="form-control" id="melissaHours" name="melissaHours"
                                    value="8" min="0"></td>
                            <td><input type="number" class="form-control" id="melissaRate" name="melissaRate"
                                    step="0.01" value="30" min="0"></td>
                            <td id="melissaTotal" class="align-middle text-right">$240.00</td>
                            <td class="align-middle text-center">⭕</td> <!-- Space for "No" -->
                            <td class="align-middle text-center"> </td> <!-- Circle for "Yes" -->
                        </tr>
                    <tbody>
                </table>
                <div class="form-section-header">Daily Costing Summary</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th> <!-- Empty top-left corner cell -->
                            <th scope="col">Indigenous</th>
                            <th scope="col">Local</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Hours</th> <!-- Row header -->
                            <td class="align-middle text-right">8</td> <!-- Example data -->
                            <td class="align-middle text-right">7</td> <!-- Example data -->
                            <td class="align-middle text-right">15</td> <!-- Example data -->
                        </tr>
                        <tr>
                            <th scope="row">Percentage</th> <!-- Row header -->
                            <td class="align-middle text-right">50.00%</td> <!-- Example data -->
                            <td class="align-middle text-right">50.00%</td> <!-- Example data -->
                            <td class="align-middle text-right">100.00%</td> <!-- Example data -->
                        </tr>
                        <tr>
                            <th scope="row">Cost</th> <!-- Row header -->
                            <td class="align-middle text-right">$100.00</td> <!-- Example data -->
                            <td class="align-middle text-right">$100.00</td> <!-- Example data -->
                            <td class="align-middle text-right">$200.00</td> <!-- Example data -->
                        </tr>
                    </tbody>
                </table>

                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}