{% load static %}
<!-- # all the side navbar codes come here -->
<div class="p-2 pt-0 sidenav" id="sidebar">
  <a href="#" class="close-btn d-flex justify-content-end" onclick="toggleSideBar()">
    <h2><i class="bi bi-filter-right"></i></h2>
  </a>
  <a href="{% url 'index' %}" class="justify-content-center mb-5">
    <img src="{% static '/logo.jpg' %}" alt="Kaddum Logo" class="logo">
  </a>


  <a href="{% url 'index' %}" class="d-flex align-items-center menu-item active">
    <i class="bi bi-grid-fill"></i>
    <span class="txt">Dashboard</span>
  </a>
  {% if request.user.roles == "supervisor" %}
  <a href="{% url 'all_dairy_record' %}" class="d-flex align-items-center">
    <i class="bi bi-file-earmark"></i>
    <span class="txt">Daily Record</span>
  </a>
  {% endif %}

  <a href="{% url 'all_day_tracking' %}" class="d-flex align-items-center">
    <i class="bi bi-file-earmark-text-fill"></i>
    <span class="txt">Day Tracking</span>
  </a>

  <a href="{% url 'all_daily_costing' %}" class="d-flex align-items-center">
    <i class="bi bi-calculator"></i>
    <span class="txt">Daily Costing</span>
  </a>

  <a href="{% url 'project_list' %}" class="d-flex align-items-center">
    <i class="bi bi-briefcase"></i>
    <span class="txt">Projects</span>
  </a>

  <a href="#" class="d-flex align-items-center">
    <i class="bi bi-tools"></i>
    <span class="txt">Resource Costs</span>
  </a>
  {% if request.user.roles == "super admin" %}
  <a href="{% url 'employees_list' %}" class="d-flex align-items-center">
    <i class="bi bi-people-fill"></i>
    <span class="txt">Employees</span>
  </a>
  {% endif %}

  <a href="#" class="d-flex align-items-center">
    <i class="bi bi-people-fill"></i>
    <span class="txt">Settings</span>
  </a>

</div>