{% extends "partials/base.html" %}

{% block page_content %}

<div class="container mt-4 d-flex align-items-center">
    <div class="me-auto p-2">
        <h1 class="text-left mb-4 h4">Daily Record List</h1>
    </div>
    <div class="input-group p-2" style="width: 200px;">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary border border-none" type="button" style="background-color: #dee2e6;"><i class="bi bi-search"></i></button>
  </div>
  <div class="p-2">
      <a href="{% url 'create_dairy_record' %}" class="btn btn-danger">+ Create New Form</a>
  </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form>            
                <div class="form-section-header">Draft Records</div>
                <table class="table table-bordered" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">Date</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">No</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">PO No</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Project Name</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">Client</th>       
                            <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">Modification</th>       
                            <th scope="col" class="align-middle" style="border-left-style: inset;" width="20%">Action</th>       
                        </tr>
                    </thead>
                    <tbody id="DraftTableBody">
                        {% for dairy_record in draft_records %}
                        <tr>
                            <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.record_date|date:"d/m/Y" }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.project_no.project_no }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.project_no.purchase_order_no }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.project_no.project_name }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.project_no.client }}</td>                            
                            <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.last_modification_date|date:"d/m/Y" }}</td>                            
                            <td class="align-middle" style="border-left-style: inset;">                           
                                <div class="row justify-content-evenly">
                                  <a href="{% url 'view_dairy_record' dairy_record.dairy_record_id %}" class="btn btn-outline-success btn-sm col-md-3">Edit</a> 
                                  <a href="{% url 'view_dairy_record' dairy_record.dairy_record_id %}" class="btn btn-outline-primary btn-sm col-md-3">View</a> 
                                  <a href="{% url 'delete_dairy_record' dairy_record.dairy_record_id %}" class="btn btn-outline-danger btn-sm col-md-3">Delete</a> 
                                </div>
                            </td>          
                        </tr>                        
                        {% endfor %}
                    <tbody>
                </table>
               
                <div class="form-section-header" style="margin-top: 80px;">Completed Records</div>
              
                <table class="table table-bordered" style="border-collapse: collapse;">
                  <thead>
                      <tr>
                          <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">Date</th>
                          <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">No</th>
                          <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">PO No</th>
                          <th scope="col" class="align-middle" style="border-right-style: hidden;">Project Name</th>
                          <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">Client</th>       
                          <th scope="col" class="align-middle" style="border-right-style: hidden;" width="%">Modification</th>       
                          <th scope="col" class="align-middle" style="border-left-style: inset;" width="20%">Action</th>       
                      </tr>
                  </thead>
                  <tbody id="DraftTableBody">
                      {% for dairy_record in completed_records %}
                      <tr>
                          <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.record_date|date:"d/m/Y" }}</td>
                          <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.project_no.project_no }}</td>
                          <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.project_no.purchase_order_no }}</td>
                          <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.project_no.project_name }}</td>
                          <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.project_no.client }}</td>                            
                          <td class="align-middle" style="border-right-style: hidden;">{{ dairy_record.last_modification_date|date:"d/m/Y" }}</td>                            
                          <td class="align-middle" style="border-left-style: inset;">                           
                              <div class="row justify-content-evenly">                                
                                <a href="{% url 'view_dairy_record' dairy_record.dairy_record_id %}" class="btn btn-outline-primary btn-sm col-md-3">View</a> 
                                <a href="{% url 'delete_dairy_record' dairy_record.dairy_record_id %}" class="btn btn-outline-danger btn-sm col-md-3">Delete</a> 
                              </div>
                          </td>          
                      </tr>                        
                      {% endfor %}
                  <tbody>
              </table>
            </form>
        </div>
    </div>
</div>

{% endblock page_content %}