{% extends "partials/base.html" %}

{% block page_content %}
<div class="p-2 px-3 d-flex justify-content-between topbar">
  <h4 class="header">Dashboard</h4>
  <div class="profile-settings">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="bi bi-person-fill"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
<div class="p-4 main-content">
  <div class="row">
    <div class="table-container">
      <div class="table-header">
        <div class="row">
          <div class="col-2">Record Date</div>
          <div class="col-2">Project Name</div>
          <div class="col-2">Supervisor</div>
          <div class="col-2">Client</div>
          <div class="col-2">Action</div>
        </div>
      </div>
      <div class="table-data p-1 px-2">
        {% for dairy_record in records %}
        <div class="my-1 row">
          <div class="col-2 d-flex align-items-center">{{ dairy_record.record_date|date:"d/m/Y" }}</div>
          <div class="col-2 d-flex align-items-center">{{ dairy_record.project_no.project_name }}</div>
          <div class="col-2 d-flex align-items-center">{{ dairy_record.supervisor_id }}</div>
          <div class="col-2 d-flex align-items-center">{{ dairy_record.record_shift }}</div>
          <div class="col-3">
            <a href="{% url 'view_dairy_record' dairy_record.dairy_record_id %}" class="btn py-1 px-2 view-btn">View</a>
            <a href="{% url 'edit_dairy_record' dairy_record.dairy_record_id %}" class="btn py-1 px-2 view-btn">Edit</a>
            <a href="{% url 'delete_dairy_record' dairy_record.dairy_record_id %}" class="btn py-1 px-2 view-btn">Delete</a>
          </div>
        </div>
        {% empty %}
        <div class="my-1 row">
          <div class="col-12 text-center">No records found.</div>
        </div>
        {% endfor %}

      </div>
      <div class="pagination">
        <span class="step-links">
            {% if records.has_previous %}
                <a href="?page=1" class="btn btn-sm btn-danger">&laquo; first</a>
                <a href="?page={{ records.previous_page_number }}" class="btn btn-sm btn-danger">previous</a>
            {% endif %}
            <span class="current">
                Page {{ records.number }} of {{ records.paginator.num_pages }}.
            </span>
            {% if records.has_next %}
                <a href="?page={{ records.next_page_number }}" class="btn btn-sm btn-danger">next</a>
                <a href="?page={{ records.paginator.num_pages }}" class="btn btn-sm btn-danger">last &raquo;</a>
            {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}