{% extends "partials/base.html" %}
{% load static %}

{% block title %}Daily Record and Diary{% endblock title %}

{% block page_content %}
<div id="print-content">
	<div class="header">
		<img src="{% static 'logo.jpg' %}" alt="Kaddum Logo">
		<h1>DAILY RECORD AND DIARY</h1>
	</div>
	<div id="print-content">

		<h3 class="text-danger">Shift Information</h3>
		<p><strong>Project Name:</strong> {{ record.project_no.project_name }}</p>
		<p><strong>Date:</strong> {{ record.record_date|date:"Y-m-d" }}</p>
		<p><strong>Shift:</strong> {{ record.record_shift }}</p>
		<p><strong>Supervisor:</strong> {{ record.supervisor_id.username }}</p>

		<div class="row">
			<h3 class="text-danger">Discussed Activities</h3>
			<p><strong>Day's Activities Discussed: </strong>Reviewed project plans and timelines.</p>
			<p><strong>{{ record.activity_discussion }}</strong></p>
			<p><strong>Details of Delays:</strong> {{ record.safety_issue_discussion }} </p>
			<p><strong>Instruction received from client:</strong>{{ record.instruction_from_client }} </p>
			<p><strong>Visitors on the site:</strong>{{ record.visitor_on_site }} </p>
		</div>

		<h3 class="text-danger">Progress Tracking</h3>

		<p><strong>Daily Progress Description:</strong> {{ record.daily_progress_description }}</p>
		<p><strong>Comments:</strong> {{ record.record_comment }}</p>
		<p><strong>Handover Notes:</strong> {{ record.handover_note }}</p>

		<div class="col-md-8">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Category</th>
						<th scope="col">Number Completed Today</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>JHA</td>
						<td>{{ record.jha_qty }}</td>
					</tr>
					<tr>
						<td>CCC</td>
						<td>{{ record.ccc_qty }}</td>
					</tr>
					<tr>
						<td>Take 5</td>
						<td>{{ record.take5_qty }}</td>
					</tr>
					<tr>
						<td>Stop Seek</td>
						<td>{{ record.stop_seek_qty }}</td>
					</tr>
					<thead>
						<tr>
							<th scope="col">Category</th>
							<th scope="col">Number of Personal Onsite</th>
						</tr>
					</thead>
				<tbody>
					<tr>
						<td>Mobilised</td>
						<td>{{ record.mobilised_qty }}</td>
					</tr>
					<tr>
						<td>Non-Manual</td>
						<td>{{ record.non_manual_qty }}</td>
					</tr>
					<tr>
						<td>Manual</td>
						<td>{{ record.manual_qty }}</td>
					</tr>
					<tr>
						<td>Sub-contractor</td>
						<td>{{ record.subcontractor_qty }}</td>
					</tr>
					<tr>
						<td>Environmental Incidents</td>
						<td>{{ record.environmental_incident_qty }}</td>
					</tr>
					<tr>
						<td>Near Misses</td>
						<td>{{ record.near_miss_qty }}
					</tr>
					<tr>
						<td>First Aid</td>
						<td>{{ record.first_aid_qty }}</td>
					</tr>
					<tr>
						<td>Medically Treated Injury</td>
						<td>{{ record.medically_treated_injury_qty }}</td>
					</tr>
					<tr>
						<td>Loss Time Injury</td>
						<td>{{ record.loss_time_injury_qty }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="text-center mt-3">
	<button class="btn btn-primary" onclick="printPdf()">Print PDF</button>
	<a href="{% url 'edit_dairy_record' record.dairy_record_id %}" class="btn btn-success">Edit</a>
	<a href="{% url 'delete_dairy_record' record.dairy_record_id %}" class="btn btn-danger">Delete</a>
	<a href="#" onclick="window.history.back();" class="btn btn-secondary">Cancel</a>
</div>
{% endblock %}

<script>
	function printPdf() {
		window.print();
	}
</script>