{% extends "partials/base.html" %}

{% block title %}Daily Record and Diary{% endblock title %}

{% block page_content %}
<div id="print-content">
	<div class="header">
		<h1>DAILY RECORD AND DIARY</h1>
	</div>
	<div class="container">
		<table>
			<tr>
				<th>Job Name:</th>
				<td>{{ record.project_no.project_name }}</td>
				<th>Day:</th>
				<td>{{ record.day }}</td>
				<th>Date:</th>
				<td>{{ record.record_date|date:"Y-m-d" }}</td>
			</tr>
			<tr>
				<th>Client:</th>
				<td>{{ record.client_name }}</td>
				<th>Shift Type</th>
				<td>{{ record.shift_type }}</td>
				<th>Supervisor:</th>
				<td>{{ record.supervisor_id.username }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="full-width">Day's Activities Discussed:</th>
			</tr>
			<tr>
				<td class="notes">{{ record.activity_discussion }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="full-width">Safety Issues Discussed:</th>
			</tr>
			<tr>
				<td class="notes">{{ record.safety_issue_discussion }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th colspan="2" class="full-width">Have Delays Occurred Today As a Result of the Following:</th>
			</tr>
			<tr>
				<td>{{ record.delay_access|yesno:"✔,✖" }} Access</td>
				<td>{{ record.delay_await_client_instruction|yesno:"✔,✖" }} Awaiting Instructions from Client</td>
			</tr>
			<tr>
				<td>{{ record.delay_lack_of_drawing|yesno:"✔,✖" }} Lack of Drawings</td>
				<td>{{ record.delay_subcontractors|yesno:"✔,✖" }} Subcontractors</td>
			</tr>
			<tr>
				<td>{{ record.delay_await_client_decision|yesno:"✔,✖" }} Awaiting Decision from Client</td>
				<td>{{ record.awaiting_materials|yesno:"✔,✖" }} Awaiting Materials</td>
			</tr>
			<tr>
				<td>{{ record.delay_poor_weather|yesno:"✔,✖" }} Poor Weather</td>
				<td>{{ record.delay_rework|yesno:"✔,✖" }} Re-Work</td>
			</tr>
			<tr>
				<td>{{ record.delay_industrial_matters|yesno:"✔,✖" }} Industrial Matters</td>
				<td>{{ record.delay_other|yesno:"✔,✖" }} Other</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="full-width">Details Of Delay:</th>
			</tr>
			<tr>
				<td class="notes">{{ record.details_of_delay }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th>Instructions Received from Client:</th>
				<th>Visitors On Site:</th>
			</tr>
			<tr>
				<td class="notes">{{ record.instruction_from_client }}</td>
				<td class="notes">{{ record.visitor_on_site }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="full-width">Daily Progress and Description of Work Performed:</th>
			</tr>
			<tr>
				<td class="notes" style="height: 100px;">{{ record.daily_progress_description }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="full-width">Notes or Comments:</th>
			</tr>
			<tr>
				<td class="notes">{{ record.record_comment }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="full-width">Handover Notes:</th>
			</tr>
			<tr>
				<td class="notes">{{ record.handover_note }}</td>
			</tr>
		</table>
		<table class="safety-table">
			<tr>
				<th colspan="9" class="full-width">Number of Safety Items Completed</th>
			</tr>
			<tr>
				<th>Number Completed Today</th>
				<th>JHA</th>
				<td>{{ record.jha_qty }}</td>
				<th>CCC</th>
				<td>{{ record.ccc_qty }}</td>
				<th>Take 5</th>
				<td>{{ record.take5_qty }}</td>
				<th>Stop Seek</th>
				<td>{{ record.stop_seek_qty }}</td>
			</tr>
			<tr>
				<th>Number of Personal Onsite</th>
				<th>Mobilised</th>
				<td>{{ record.mobilised_qty }}</td>
				<th>Non-Manual</th>
				<td>{{ record.non_manual_qty }}</td>
				<th>Manual</th>
				<td>{{ record.manual_qty }}</td>
				<th>Sub-contractor</th>
				<td>{{ record.subcontractor_qty }}</td>
			</tr>
			<tr>
				<th>Environmental Incidents: {{ record.incident_qty }}</th>
				<th>Near Misses</th>
				<td>{{ record.near_miss_qty }}</td>
				<th>First Aid</th>
				<td>{{ record.first_aid_qty }}</td>
				<th>Medically Treated Injury</th>
				<td>{{ record.medically_treated_injury_qty }}</td>
				<th>Lost Time Injury</th>
				<td>{{ record.loss_time_injury_qty }}</td>
			</tr>
		</table>
	</div>
</div>
<div class="text-center mt-3">
	<button class="btn btn-primary" onclick="printPdf()">Print PDF</button>
	<a href="{% url 'edit_dairy_record' record.dairy_record_id %}" class="btn btn-success">Edit</a>
	<a href="{% url 'delete_dairy_record' record.dairy_record_id %}" class="btn btn-danger">Delete</a>
	<a href="#" onclick="window.history.back();" class="btn btn-secondary">Cancel</a>
</div>
{% endblock %}

<script>
	function printPdf() {
		window.print();
	}
</script>