{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4">
    <h1 class="text-left mb-4 h4">Daily Costing: {{ record_PK }}</h1>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" novalidate>
                {% csrf_token %}
                <div class="form-section-header">Shift Information</div>
                <div class="form-group">
                    <label>Project:</label>
                    <input type="text" class="form-control" value="{{ form.instance.project_no.project_no }} - {{ form.instance.project_no.project_name }}" readonly>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form.record_date.label_tag }}
                        {{ form.record_date }}
                        {{ form.record_date.errors }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.day_of_week.label_tag }}
                        {{ form.day_of_week }}
                    </div>
                </div>
                <div class="form-section-header">Costing Breakdown</div>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle" width="23%">Name</th>
                            <th scope="col" class="align-middle" width="28%">Position</th>
                            <th scope="col" class="align-middle" width="17%">Rate($)</th>
                            <th scope="col" class="align-middle" width="9%">Total Hours</th>
                            <th scope="col" class="align-middle" width="9%">Total Amount($)</th>
                            <th scope="col" class="align-middle" width="2%">Indigenous</th>
                            <th scope="col" class="align-middle" width="9%">Local</th>
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        {% for employee in employee_details %}
                        <tr>
                            <td class="align-middle">{{ employee.employee_id }}</td>
                            <td class="align-middle">
                                <select class="form-control" name="position[]">
                                    <option value="">Select Position</option>
                                    {% for position in positions %}
                                    <option value="{{ position.resource_id }}" {% if position.resource_id == employee.position_id.resource_id %}selected{% endif %}>
                                        {{ position.item_name }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="number" class="form-control rate-input" name="rate_{{ employee.id }}" min="0" value="{{ employee.hour_rate|floatformat:"2" }}"></td>
                            <td class="align-middle hours-input">{{ employee.total_hours|floatformat:"2" }}</td>
                            <td class="align-middle total-amount"></td> <!-- Total Amount -->
                            <td class="align-middle text-center">{{ employee.employee_id.is_indigenous | yesno:"✓, " }}</td> <!-- Indigenous -->
                            <td class="align-middle text-center">{{ employee.employee_id.is_local | yesno:"✓, " }}</td> <!-- Local -->
                        </tr> 
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="3">Total</th>
                            <td id="total-hours-sum">0</td>
                            <td id="total-amount-sum">0</td>
                            <td scope="row" colspan="3"></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="form-section-header">Indigenous and Local Participation</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th> <!-- Empty top-left corner cell -->
                            <th scope="col">Total Hours</th>
                            <th scope="col">Total Hours %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Indigenous</th> <!-- Row header -->
                            <td class="align-middle text-right">{{ instance.total_hours_employee_indigenous|floatformat:"2" }}</td> <!-- Example data -->
                            <td class="align-middle text-right">{{ instance.total_hours_employee_indigenous_percentage|floatformat:2 }}%</td> <!-- Example data -->
                        </tr>
                        <tr>
                            <th scope="row">Local</th> <!-- Row header -->
                            <td class="align-middle text-right">{{ instance.total_hours_employee_local|floatformat:"2" }}</td> <!-- Example data -->
                            <td class="align-middle text-right">{{ instance.total_hours_employee_local_percentage|floatformat:2 }}%</td> <!-- Example data -->
                        </tr>       
                    </tbody>
                </table>
                <div class="form-section-header">Equipment Cost</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Equipment</th>
                            <th scope="col">Day Rate($)</th>                          
                        </tr>
                    </thead>
                    <tbody id="equipmentTableBody">
                        {% for equipment in equipment_details %}
                        <tr>                        
                            <td class="align-middle">{{ equipment.resource_id.item_type|capfirst }}</td>
                            <td class="align-middle">{{ equipment.resource_id.item_name }}</td>
                            <td class="align-middle">
                                <input type="number" class="form-control rate-input" name="equipment_rate_{{ equipment.id }}" value="{{ equipment.item_rate }}" >
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="2">Total</th>
                            <td id="total-day-rate">0</td>
                        </tr>
                    </tfoot>
                </table>
                <input type="hidden" name="total_hours_equipment" id="input-total-hours" value="0">
                <input type="hidden" name="total_amount_equipment" id="input-total-amount" value="0">

                <form method="POST" novalidate>
                    {% csrf_token %}                    
                    <button type="submit" name="action" value="complete" class="form-group btn btn-success col-2">Complete</button>
                    <button type="submit" name="action" value="draft" class="form-group btn btn-outline-success col-2">Save as Draft</button>
                    <a href="#" onclick="window.history.back();" class="form-group btn btn-outline-primary col-2" value="back">Back</a>
                </form>
            </form>
        </div>
    </div>
</div>

{% endblock page_content %}