{% extends "partials/base.html" %}
{% load static %}
{% block title %}Daily Costing Report{% endblock title %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'custom_css_dairy_record_view.css' %}">
{% endblock CSS %}

{% block page_content %}
<div id="print-content">
    <div class="header">
        <img src="{% static 'kaddum-logo1.svg' %}" alt="Kaddum Logo">
        <h1>Daily Costing Report: {{ costing.cost_tracking_id }}</h1>
    </div>
    <div class="view-container">
        <table>
            <table class="table-bordered">
                <tr>
                    <th>Project:</th>
                    <td>{{ costing.project_no.project_no }} - {{ costing.project_no.project_name }}</td>
                    <th>Purchase Order:</th>
                    <td>{{ costing.project_no.purchase_order_no }}</td>

                </tr>
                <tr>
                    <th>Record date:</th>
                    <td>{{ costing.record_date|date:'d/m/Y' }}</td>
                    <th>Day:</th>
                    <td>{{ costing.record_date|date:"l" }}</td>
                </tr>
            </table>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle" width="26%">Name</th>
                        <th scope="col" class="align-middle" width="30%">Position</th>
                        <th scope="col" class="align-middle" width="9%">Rate($)</th>
                        <th scope="col" class="align-middle" width="9%">Total Hours</th>
                        <th scope="col" class="align-middle" width="9%">Total Amount($)</th>
                        <th scope="col" class="align-middle" width="8%">Indigenous</th>
                        <th scope="col" class="align-middle" width="9%">Local</th>
                    </tr>
                </thead>
                <tbody id="employeeTableBody">
                    {% for employee in employee_details %}
                    <tr>
                        <td class="align-middle">{{ employee.employee_id.full_name }}</td>
                        <td class="align-middle">{{ employee.confirmed_position_id.item_name }}</td>
                        <td class="align-middle">{{ employee.hour_rate|floatformat:"2" }}</td>
                        <td class="align-middle">{{ employee.total_hours|floatformat:"2" }}</td>
                        <td class="align-middle">{{ employee.total_amount|floatformat:"2" }}</td>
                        <td class="align-middle text-center">{{ employee.employee_id.is_indigenous | yesno:"✓, " }}</td>
                        <td class="align-middle text-center">{{ employee.employee_id.is_local | yesno:"✓, " }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row" colspan="3">Total</th>
                        <td id="total-hours-sum">{{ costing.total_hours_employee|floatformat:"2" }}</td>
                        <td id="total-amount-sum">{{ costing.total_amount_employee|floatformat:"2" }}</td>
                        <td scope="row" colspan="3"></td>
                    </tr>
                </tfoot>
            </table>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Total Hours</th>
                        <th scope="col">Total Hours %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Indigenous</th>
                        <td class="align-middle text-right">{{ total_hours_indigenous|floatformat:"2" }}</td>
                        <td class="align-middle text-right">{{ total_hours_indigenous_percentage|floatformat:2 }}%
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Local</th>
                        <td class="align-middle text-right">{{ total_hours_local|floatformat:"2" }}</td>
                        <td class="align-middle text-right">{{ total_hours_local_percentage|floatformat:2 }}%</td>
                    </tr>
                </tbody>
            </table>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Equipment</th>
                        <th scope="col">Day Rate($)</th>
                    </tr>
                </thead>
                <tbody id="equipmentTableBody">
                    {% if equipment_details %}
                        {% for equipment in equipment_details %}
                        <tr>
                            <td class="align-middle">{{ equipment.resource_id.item_type|capfirst }}</td>
                            <td class="align-middle">{{ equipment.resource_id }}</td>
                            <td class="align-middle">{{ equipment.item_rate|floatformat:"2" }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td></td>
                            <td class="text-center">N/A</td>
                            <td></td>
                        </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row" colspan="2">Total</th>
                        <td id="total-day-rate">{{ costing.total_amount_equipment|floatformat:"2" }}</td>
                    </tr>
                </tfoot>
            </table>
        </table>
    </div>
</div>
<div class="d-flex justify-content-end mt-3 mb-3">
    <button class="form-group btn btn-primary me-2" style="width: 150px" onclick="downloadPdf()">Download PDF</button>
    <a href="{% url 'all_daily_costing' %}" class="form-group btn btn-secondary me-2" style="width: 150px" value="back">Back</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>
    function downloadPdf() {
        const element = document.getElementById('print-content');
        const opt = {
            margin: 0.2,
            filename: '{{ costing.record_date|date:"dmY" }}_{{ costing.cost_tracking_id}}_{{ costing.project_no.project_no}}_{{ costing.project_no.project_name}}.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
        };
        html2pdf().from(element).set(opt).save();
    }
</script>

{% endblock %}