{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4">
    <h2>Delete Dairy Record</h2>
    <p>Are you sure you want to delete this record?</p>
    <div>
        <form action="{% url 'delete_dairy_record' record.dairy_record_id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Confirm" class="btn btn-danger">
            <a href="#" onclick="window.history.back();" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
