{% extends "partials/base.html" %}
{% load static %}

{% block title %}Daily Record and Diary{% endblock title %}
{% block CSS %}
<!-- css for pdf are also here -->
<link rel="stylesheet" href="{% static 'custom_css_dairy_record_view.css' %}">
{% endblock CSS %}

{% block page_content %}
<div id="print-content">
	<div class="header">
		<img src="{% static 'kaddum-logo1.svg' %}" alt="Kaddum Logo">
		<h1>Daily Record and Diary</h1>
	</div>
	<div class="view-container">
		<table>
			<table class="table-bordered">
				<tbody>
					<tr>
						<th width="10%">Project:</th>
						<td colspan="3" width="30%">{{ record.project_no }}</td>
						<th width="15%">Purchase Order:</th>
						<td width="15%">{{ record.project_no.purchase_order_no }}</td>
					</tr>
					<tr>
						<th width="10%">Date:</th>
						<td width="15%">{{ record.record_date|date:"d/m/Y" }}</td>
						<th width="10%">Day:</th>
						<td width="10%">{{ record.record_date|date:"l" }}</td>
						<th>Shift:</th>
						<td>{{ record.record_shift }}</td>
					</tr>
					<tr>
						<th>Supervisor:</th>
						<td>{{ record.supervisor_id.full_name }}</td>
						<th>Client:</th>
						<td colspan="3">{{ record.project_no.client }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Day's Activities Discussed:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.activity_discussion|linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Safety Issues Discussed:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.safety_issue_discussion |linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th colspan="2" class="full-width">Have Delays Occurred Today As a Result of the Following:</th>
				</tr>
				<tr>
					<td style="width: 50%;">{{ record.delay_access|yesno:"<i class='bi bi-check2-square' ></i>,<i class='bi bi-square'></i>"|safe }} Access</td>
					<td style="width: 50%;">{{ record.delay_await_client_instruction|yesno:"<i class='bi bi-check2-square'></i>,<i class='bi bi-square'></i>"|safe }} Awaiting Instructions from Client</td>
				</tr>
				<tr>
					<td>{{ record.delay_lack_of_drawing|yesno:"<i class='bi bi-check2-square' style='font-weight: bold'></i>,<i class='bi bi-square' ></i>"|safe }} Lack of Drawings</td>
					<td>{{ record.delay_subcontractors|yesno:"<i class='bi bi-check2-square'></i>,<i class='bi bi-square'></i>"|safe }} Subcontractors</td>
				</tr>
				<tr>
					<td>{{ record.delay_await_client_decision|yesno:"<i class='bi bi-check2-square'></i>,<i class='bi bi-square'></i>"|safe }} Awaiting Decision from Client</td>
					<td>{{ record.awaiting_materials|yesno:"<i class='bi bi-check2-square'></i>,<i class='bi bi-square'></i>"|safe }} Awaiting Materials</td>
				</tr>
				<tr>
					<td>{{ record.delay_poor_weather|yesno:"<i class='bi bi-check2-square'></i>,<i class='bi bi-square'></i>"|safe }} Poor Weather</td>
					<td>{{ record.delay_rework|yesno:"<i class='bi bi-check2-square'></i>,<i class='bi bi-square'></i>"|safe }} Re-Work</td>
				</tr>
				<tr>
					<td>{{ record.delay_industrial_matters|yesno:"<i class='bi bi-check2-square'></i>,<i class='bi bi-square'></i>"|safe }} Industrial Matters</td>
					<td>{{ record.delay_other|yesno:"<i class='bi bi-check2-square'></i>,<i class='bi bi-square'></i>"|safe }} Other</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Details Of Delay:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.details_of_delay |linebreaksbr }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th style="width: 50%;">Instructions Received from Client:</th>
					<th style="width: 50%;">Visitors On Site:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.instruction_from_client|linebreaksbr  }}</td>
					<td class="notes">{{ record.visitor_on_site |linebreaksbr }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Daily Progress and Description of Work Performed:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.daily_progress_description|linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Notes or Comments:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.record_comment|linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Handover Notes:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.handover_note|linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="safety-table break-table table-bordered">
				<tr>
					<th colspan="11" class="full-width">Number of Items Completed Today</th>
				</tr>
				<tr>
					<th colspan="2">Safety Items:</th>
					<th>JHA</th>
					<td>{{ record.jha_qty }}</td>
					<th>CCC</th>
					<td>{{ record.ccc_qty }}</td>
					<th>Take 5</th>
					<td>{{ record.take5_qty }}</td>
					<th>Stop Seek</th>
					<td>{{ record.stop_seek_qty }}</td>
				</tr>
				<tr>
					<th colspan="2">Personal Onsite:</th>
					<th>Mobilised</th>
					<td>{{ record.mobilised_qty }}</td>
					<th>Non-Manual</th>
					<td>{{ record.non_manual_qty }}</td>
					<th>Manual</th>
					<td>{{ record.manual_qty }}</td>
					<th>Sub-contractor</th>
					<td>{{ record.subcontractor_qty }}</td>
				</tr>
				<tr>
					<th colspan="2">Accident/incidents:</th>
					<th>Near Misses</th>
					<td>{{ record.near_miss_qty }}</td>
					<th>First Aid</th>
					<td>{{ record.first_aid_qty }}</td>
					<th>Medically Treated Injury</th>
					<td>{{ record.medically_treated_injury_qty }}</td>
					<th>Lost Time Injury</th>
					<td>{{ record.loss_time_injury_qty }}</td>
				</tr>
				<tr>
					<th colspan="3">Environmental Incidents:</th>
					<td colspan="7">{{ record.environmental_incident_qty }}</td>
				</tr>
			</table>
		</table>
	</div>
</div>
<div class="d-flex justify-content-end mt-3">
	<button class="btn btn-primary me-2" style="width: 150px" onclick="downloadPdf()">Download PDF</button>
	<a href="{% url 'delete_dairy_record' record.dairy_record_id %}" class="btn btn-danger me-2" style="width: 150px">Delete</a>
	<a href="{% url 'all_dairy_record' %}" class="btn btn-secondary" style="width: 150px">Back</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>
	function downloadPdf() {
		const element = document.getElementById('print-content');
		const opt = {
			margin: [0.2, 0.25, 0.3, 0.25],
			filename: '{{ record.record_date|date:"dmY"}}_{{ record.dairy_record_id }}_{{ record.project_no.project_no}}_{{ record.project_no.project_name}}.pdf',
			image: { type: 'jpeg', quality: 0.98 },
			html2canvas: { scale: 2 },
			jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' },
			pagebreak: { mode: 'css', break:'.break-table'},
		};
		html2pdf().from(element).set(opt).save();
	}
</script>
{% endblock %}