{% extends "partials/base.html" %}
{% load static %}

{% block title %}Daily Record and Diary{% endblock title %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'custom_css_dairy_record_view.css' %}">
{% endblock CSS %}

{% block page_content %}
<div id="print-content">
	<div class="header">
		<img src="{% static 'logo.jpg' %}" alt="Kaddum Logo">
		<h1>DAILY RECORD AND DIARY</h1>
	</div>
	<div class="container">
		<table>
			<table class="table-bordered">
				<tbody>
					<tr>
						<th width="10%">Project:</th>
						<td colspan="3" width="30%">{{ record.project_no }}</td>
						<th width="10%">Purchase Order:</th>
						<td width="15%">{{ record.project_no.purchase_order_no }}</td>
					</tr>
					<tr>
						<th width="10%">Date:</th>
						<td width="15%">{{ record.record_date|date:"d-m-" }}</td>
						<th width="10%">Day:</th>
						<td width="10%">{{ day_of_week }}</td>
						<th>Shift:</th>
						<td>{{ record.record_shift }}</td>
					</tr>
					<tr>
						<th>Supervisor:</th>
						<td>{{ record.supervisor_id.full_name }}</td>
						<th>Client:</th>
						<td colspan="3">{{ record.project_no.client }}</td>
					</tr>
				</tbody>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Day's Activities Discussed:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.activity_discussion|linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Safety Issues Discussed:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.safety_issue_discussion |linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th colspan="2" class="full-width">Have Delays Occurred Today As a Result of the Following:</th>
				</tr>
				<tr>
					<td>{{ record.delay_access|yesno:"✓,X" }} Access</td>
					<td>{{ record.delay_await_client_instruction|yesno:"✓,X" }} Awaiting Instructions from Client</td>
				</tr>
				<tr>
					<td>{{ record.delay_lack_of_drawing|yesno:"✓,X" }} Lack of Drawings</td>
					<td>{{ record.delay_subcontractors|yesno:"✓,X" }} Subcontractors</td>
				</tr>
				<tr>
					<td>{{ record.delay_await_client_decision|yesno:"✓,X" }} Awaiting Decision from Client</td>
					<td>{{ record.awaiting_materials|yesno:"✓,X" }} Awaiting Materials</td>
				</tr>
				<tr>
					<td>{{ record.delay_poor_weather|yesno:"✓,X" }} Poor Weather</td>
					<td>{{ record.delay_rework|yesno:"✓,X" }} Re-Work</td>
				</tr>
				<tr>
					<td>{{ record.delay_industrial_matters|yesno:"✓,X" }} Industrial Matters</td>
					<td>{{ record.delay_other|yesno:"✓,X" }} Other</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Details Of Delay:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.details_of_delay |linebreaksbr }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th>Instructions Received from Client:</th>
					<th>Visitors On Site:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.instruction_from_client|linebreaksbr  }}</td>
					<td class="notes">{{ record.visitor_on_site |linebreaksbr }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Daily Progress and Description of Work Performed:</th>
				</tr>
				<tr>
					<td class="notes" style="height: 100px;">{{ record.daily_progress_description|linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Notes or Comments:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.record_comment|linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="table-bordered">
				<tr>
					<th class="full-width">Handover Notes:</th>
				</tr>
				<tr>
					<td class="notes">{{ record.handover_note|linebreaksbr  }}</td>
				</tr>
			</table>
			<table class="safety-table table-bordered">
				<tr>
					<th colspan="11" class="full-width">Number of Items Completed Today</th>
				</tr>
				<tr>
					<th colspan="2">Safety Items:</th>
					<th>JHA</th>
					<td>{{ record.jha_qty }}</td>
					<th>CCC</th>
					<td>{{ record.ccc_qty }}</td>
					<th>Take 5</th>
					<td>{{ record.take5_qty }}</td>
					<th>Stop Seek</th>
					<td>{{ record.stop_seek_qty }}</td>
				</tr>
				<tr>
					<th colspan="2">Personal Onsite:</th>
					<th>Mobilised</th>
					<td>{{ record.mobilised_qty }}</td>
					<th>Non-Manual</th>
					<td>{{ record.non_manual_qty }}</td>
					<th>Manual</th>
					<td>{{ record.manual_qty }}</td>
					<th>Sub-contractor</th>
					<td>{{ record.subcontractor_qty }}</td>
				</tr>
				<tr>
					<th colspan="2">Accident/incidents:</th>
					<th>Near Misses</th>
					<td>{{ record.near_miss_qty }}</td>
					<th>First Aid</th>
					<td>{{ record.first_aid_qty }}</td>
					<th>Medically Treated Injury</th>
					<td>{{ record.medically_treated_injury_qty }}</td>
					<th>Lost Time Injury</th>
					<td>{{ record.loss_time_injury_qty }}</td>
				</tr>
				<tr>
					<th colspan="3">Environmental Incidents:</th>
					<td colspan="7">{{ record.environmental_incident_qty }}</td>
				</tr>
			</table>
		</table>
		<div class="d-flex justify-content-end mt-3">
			<button class="btn btn-primary me-2" style="width: 150px" onclick="printPdf()">Print PDF</button>
			<a href="{% url 'delete_dairy_record' record.dairy_record_id %}" class="btn btn-danger me-2" style="width: 150px">Delete</a>
			<a href="{% url 'all_dairy_record' %}" class="btn btn-secondary" style="width: 150px">Back</a>
		</div>
	</div>
</div>


{% endblock %}

<script>
	function printPdf() {
		window.print();
	}
</script>