{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4 d-flex align-items-center">
    <div class="me-auto p-2">
        <h1 class="text-left mb-4 h4">Employee List</h1>
    </div>
    <div class="input-group p-2" style="width: 200px;">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary border border-none" type="button" style="background-color: #dee2e6;"><i class="bi bi-search"></i></button>
    </div>
    <div class="p-2">
        <a href="{% url 'employee_create' %}" class="btn btn-danger">+ Create New Form</a>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="form-section-header">Employee List</div>            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle"><small> ID</small></th>
                        <th scope="col" class="align-middle" width=><small>Full Name</small></th>
                        <th scope="col" class="align-middle" ><small>Email</small></th>
                        <th scope="col" class="align-middle" width="8%"><small>Indigenous</small></th>
                        <th scope="col" class="align-middle" width="8%"><small>Local</small></th>
                        <th scope="col" class="align-middle"><small>Position</small></th>
                        <th scope="col" class="align-middle"><small>Role</small></th>
                        <th scope="col" class="align-middle" ><small>Status</small></th>
                    </tr>
                </thead>
                <tbody id="employeeTableBody">
                    {% for employee in employee_list %}
                    <tr>
                        <td class="align-middle"><a href="{% url 'employees_edit' employee.username %}">{{ employee.username }}</a></td>
                        <td class="align-middle"><small>{{employee.full_name}}</small></td>
                        <td class="align-middle"><small>{{employee.email}}</small></td>
                        <td class="align-middle"><small>{% if employee.is_indigenous %}Yes{% else %}No{% endif %}</small></td>
                        <td class="align-middle"><small>{% if employee.is_local %}Yes{% else %}No{% endif %}</small></td>
                        <td class="align-middle"><small>{{employee.position_id.item_name}}</small></td>
                        <td class="align-middle"><small>{{employee.roles}}</small></td>
                        <td class="align-middle"><small>{% if employee.is_active %}Active{% else %} Inactive {% endif%}</small></td>    
                    </tr>
                    {% endfor%}
                <tbody>
            </table>
           
    </div>
</div>
{% endblock page_content %}