{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4">
    <h1 class="text-left mb-4 h4">Update Employee Details</h1>
</div>
<div class="form-section-header">*Required Fields</div>          
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %} 
                {{ form.non_field_errors }}

                <div class="form-group">
                    {{ form.first_name.errors }}
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>

                <div class="form-group">
                    {{ form.last_name.errors }}
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>

                <div class="form-group">{{ form.email.errors }}
                    
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div class="form-group">
                    {{ form.is_indigenous.errors }}
                    {{ form.is_indigenous.label_tag }}
                    {{ form.is_indigenous }}
                </div> 

                <div class="form-group">
                    {{ form.is_local.errors }}
                    {{ form.is_local.label_tag }}
                    {{ form.is_local }}
                </div>

                <div class="form-group">
                    {{ form.position_id.errors }}
                    {{ form.position_id.label_tag }}
                    {{ form.position_id }}
                </div>

                <div class="form-group">
                    {{ form.roles.errors }}
                    {{ form.roles.label_tag }}
                    {{ form.roles }}
                </div>

                <div class="form-group">
                    {{ form.is_active.errors }}
                    {{ form.is_active.label_tag }}
                    {{ form.is_active }}
                </div>

                <!-- <button type="submit" class="btn btn-danger btn-lg">Save</button> -->
                <!-- <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='{% url 'all_daily_costing' %}';">Cancel</button> -->
                <button type="submit" class="form-group btn btn-success col-2" value="submit">Save</button>
                <a href="{% url 'employees_list' %}" type="submit" class="form-group btn btn-primary col-2" value="back">Cancel</a>
            </form>
        </div>
    </div>
</div>


{% endblock page_content %}