{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-12">
  <h4 class="text-left mb-4">Create Day Tracking Record</h4>
  <form method="POST" enctype="multipart/form-data" action="{% url 'day_tracking_create' %}">
    {% csrf_token %}

    <!-- Project Details -->
    <div class="form-section-header">Project Details</div>
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.project_no.label_tag }} {{ form.project_no }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.record_date.label_tag }} {{ form.record_date }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.record_shift.label_tag }} {{ form.record_shift }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.work_area.label_tag }} {{ form.work_area }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.client_representative.label_tag }} {{ form.client_representative }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.weather.label_tag }} {{ form.weather }}
      </div>
    </div>
    <div class="col-md-12 mb-3">
      {{ form.comments.label_tag }} {{ form.comments }}
    </div>

    <!-- Employee Details -->
    <div class="form-section-header">Worker Details</div>
    {{ employee_formset.management_form }}
    {% for form in employee_formset %}
    <div class="row">
      <div class="col-md-12 mb-3">
        {{ form.employee_id.label_tag }} {{ form.employee_id }}
      </div>
      <div class="col-md-12 mb-3">
        {{ form.position_id.label_tag }} {{ form.position_id }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.start_time.label_tag }} {{ form.start_time }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.end_time.label_tag }} {{ form.end_time }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.total_hours.label_tag }} {{ form.total_hours }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.work_description.label_tag }} {{ form.work_description }}
      </div>
    </div>
    {% endfor %}

    <!-- Equipment Details -->
    <div class="form-section-header">Equipment Details</div>
    {{ equipment_formset.management_form }}
    {% for form in equipment_formset %}
    <div class="row">
      <div class="col-md-12 mb-3">
        {{ form.resource_id.label_tag }} {{ form.resource_id }}
      </div>
      <div class="col-md-2 mb-3">
        {{ form.start_time.label_tag }} {{ form.start_time }}
      </div>
      <div class="col-md-2 mb-3">
        {{ form.end_time.label_tag }} {{ form.end_time }}
      </div>
      <div class="col-md-3 mb-3">
        {{ form.total_hours.label_tag }} {{ form.total_hours }}
      </div>
      <div class="col-md-2 mb-3">
        {{ form.item_rate.label_tag }} {{ form.item_rate }}
      </div>
      <!-- <div class="col-md-3 mb-3">
        {{ form.total_amount.label_tag }} {{ form.total_amount }}
      </div> -->
    </div>
    {% endfor %}

    <!-- Acknowledgements -->
    <div class="form-section-header">Acknowledgements</div>
    <div class="row">
      <div class="col-md-4 mb-3">
        {{ form.kaddum_name.label_tag }} {{ form.kaddum_name }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.kaddum_sign.label_tag }} {{ form.kaddum_sign }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.kaddum_sign_date.label_tag }} {{ form.kaddum_sign_date }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.client_name.label_tag }} {{ form.client_name }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.client_sign.label_tag }} {{ form.client_sign }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.client_sign_date.label_tag }} {{ form.client_sign_date }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
