{% extends "partials/base.html" %}
{% load static %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'custom_css_dairy_record_view.css' %}">
<link rel="stylesheet" href="{% static 'css/resource.css' %}">
{% endblock CSS %}

{% block page_content %}
<div id="print-content">
    <div class="header">
        <img src="{% static 'logo.jpg' %}" alt="Kaddum Logo">
        <h1>Day Tracking Sheet</h1>
    </div>
    <div class="container">
        <table class="details-table table-bordered"">
            <tr>
                <th>Project:</th>
                <td>{{ day_tracking.project_no }}</td>
                <th>Purchase Order:</th>
                <td>{{ day_tracking.project_no.purchase_order_no }}</td>

            </tr>
            <tr>
                <th>Work Area:</th>
                <td>{{ day_tracking.work_area }}</td>
                <th>Date:</th>
                <td>{{ day_tracking.record_date|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <th>Client Representative:</th>
                <td>{{ day_tracking.client_representative }}</td>
                <th>Shift:</th>
                <td>{{ day_tracking.record_shift }}</td>
            </tr>
            <tr>
                <th>Weather:</th>
                <td colspan="3">{{ day_tracking.weather }}</td>
            </tr>
        </table>

        <table class="work-description-table table-bordered"">
            <thead>
                <tr>
                    <th style="width: 16%;">Name</th>
                    <th style="width: 28%;">Role</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Total Hours</th>
                    <th>Brief Work Description</th>
                </tr>
            </thead>
            <tbody>
                {{ employee_formset.management_form }}
                {% for employee in employee_formset %}
                <tr>
                    <td>{{ employee.employee_id }}</td>
                    <td>{{ employee.position_id.item_name }}</td>
                    <td>{{ employee.start_time|time:"H:i" }}</td>
                    <td>{{ employee.end_time|time:"H:i" }}</td>
                    <td>{{ employee.total_hours|floatformat:"2" }}</td>
                    <td>{{ employee.work_description }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No employee records found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="equipment-table table-bordered ">

            <thead>
                <tr>
                    <th style="width: 44%;">Equipment</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Total Hours</th>
                    <th>Brief Work Description</th>
                </tr>
            </thead>
            <tbody>
                {{ equipment_formset.management_form }}
                {% for equipment in equipment_formset %}
                <tr>
                    <td>{{ equipment.resource_id }}</td>
                    <td>{{ equipment.start_time|time:"H:i" }}</td>
                    <td>{{ equipment.end_time|time:"H:i" }}</td>
                    <td>{{ equipment.total_hours|floatformat:"2" }}</td>
                    <td>{{ equipment.work_description }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No equipment records found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="signature-table table-bordered ">
            <tr>
                <th style="width: 16%;">Kaddum Name:</th>
                <td style="width: 28%;">{{ day_tracking.kaddum_name }}</td>
                <th style="width: 16%;">Kaddum Signature:</th>
                <td style="width: 20%;">
                    {% if day_tracking.kaddum_sign %}
                        <img src="{{ day_tracking.kaddum_sign }}" alt="Kaddum Supervisor Signature" style="width: 140px; height: 52.5px;">
                    {% else %}
                        <p>No signature provided</p>
                    {% endif %}
                </td>
                <th>Date:</th>
                <td>{{ day_tracking.kaddum_sign_date|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <th>Client Name:</th>
                <td>{{ day_tracking.client_name }}</td>
                <th>Client Signature:</th>
                <td>
                    {% if day_tracking.client_sign %}
                        <img src="{{ day_tracking.client_sign }}" alt="Client Representative Signature" style="width: 140px; height: 52.5px;">
                    {% else %}
                        <p>No signature provided</p>
                    {% endif %}
                </td>
                <th>Date:</th>
                <td>{{ day_tracking.client_sign_date|date:"d/m/Y" }}</td>
            </tr>




        </table>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary me-2" onclick="printPdf()" style="width: 150px" >Print PDF</button>
        <a href="{% url 'day_tracking_delete' day_tracking_id %}" class="btn btn-danger me-2" style="width: 150px">Delete</a>
        <a href="{% url 'day_tracking_list' %}" class="btn btn-secondary" style="width: 150px" >Back</a>
    </div>
</div>


<script>
    function printPdf() {
    window.print();
    }
</script>


{% endblock %}