{% extends "partials/base.html" %}
{% load static %}

{% block CSS %}
<!-- css for pdf are also here -->
<link rel="stylesheet" href="{% static 'custom_css_dairy_record_view.css' %}">
<link rel="stylesheet" href="{% static 'css/resource.css' %}">
{% endblock CSS %}

{% block page_content %}
<div id="print-content">
    <div class="header">
        <img src="{% static 'logo.jpg' %}" alt="Kaddum Logo">
        <h1>Day Tracking Sheet</h1>
    </div>
    <div class="container">
        <table class="details-table table-bordered">
            <tr>
                <th>Project:</th>
                <td>{{ day_tracking.project_no }}</td>                
                <th>Client Representative:</th>
                <td>{{ day_tracking.client_representative }}</td>
            </tr>
            <tr>
                <th>Work Area:</th>
                <td>{{ day_tracking.work_area }}</td>
                <th>Purchase Order:</th>
                <td>{{ day_tracking.project_no.purchase_order_no }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ day_tracking.record_date|date:"d-m-Y" }}</td>
                <th>Shift:</th>
                <td>{{ day_tracking.record_shift }}</td>
            </tr>
        </table>

        <table class="work-description-table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Total Hours</th>
                    <th>Brief Work Description</th>
                </tr>
            </thead>
            <tbody>
                {{ employee_formset.management_form }}
                {% for employee in employee_formset %}
                <tr>
                    <td>{{ employee.employee_id }}</td>
                    <td>{{ employee.position_id }}</td>
                    <td>{{ employee.start_time|time:"H:i" }}</td>
                    <td>{{ employee.end_time|time:"H:i" }}</td>
                    <td>{{ employee.total_hours |floatformat:"2" }}</td>
                    <td>{{ employee.work_description }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No employee records found!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="equipment-table table-bordered ">
     
            <thead>
                <tr>
                    <th>Equipment</th>
                    <th>Day Rate</th>
                    <th>Start</th>
                    <th>Finish</th>
                    <th>Total Hours</th>
                </tr>
            </thead>
            <tbody>
                {{ equipment_formset.management_form }}
                {% for equipment in equipment_formset %}     
                <tr>
                    <td>{{ equipment.resource_id }}</td>
                    <td>{{ equipment.item_rate }}</td>
                    <td>{{ equipment.start_time|time:"H:i" }}</td>
                    <td>{{ equipment.end_time|time:"H:i" }}</td>
                    <td>{{ equipment.total_hours |floatformat:"2" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No equipment records found!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="signature-table table-bordered">
            <tr>
                <th>Contractor Name:</th>
                <td>{{ day_tracking.kaddum_name }}</td>
                <th>Contractor Signature:</th>
                <td><img src="{{ day_tracking.kaddum_sign.url }}" alt="Signature" height="50"></td>
                <th>Date:</th>
                <td>{{ day_tracking.kaddum_sign_date|date:"d-m-Y" }}</td>
            </tr>
            <tr>
                <th>Client Name:</th>
                <td>{{ day_tracking.client_name }}</td>
                <th>Client Signature:</th>
                <td><img src="{{ day_tracking.client_sign.url }}" alt="Signature" height="50"></td>
                <th>Date:</th>
                <td>{{ day_tracking.client_sign_date|date:"d-m-Y" }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="text-center mt-3">
    <a href="#" onclick="window.history.back();" class="btn btn-secondary col-2">Back</a>
    <button class="btn btn-primary col-2" onclick="downloadPdf()">Download PDF</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>
    function downloadPdf() {
        const element = document.getElementById('print-content');
        const opt = {
            margin: 0.2,
            filename: '{{ record.day_tracking_id }}_day_tracking.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
        };
        html2pdf().from(element).set(opt).save();
    }
</script>
{% endblock %}