{% extends "partials/base.html" %}
{% block page_content %}
<div class="container">
    <h4 class="text-left mb-4">Day Tracking: {{record_PK}}</h4>
</div>
<div class="container">
    <form id="day-tracking-form" method="POST" enctype="multipart/form-data" action="{{ form_action }}">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="form-section-header">Project Information</div>
            <div class="row">
                <div class="form-group col-4">
                    {{ form.project_no.label_tag }}
                    {{ form.project_no }}
                    {{ form.project_no.errors }}
                </div>
                <div class="form-group col-md-4">
                    <label for="purchase_order_no">Purchase Order No.</label>
                    <input type="text" class="form-control" id="purchase_order_no" value="{{ initial_purchase_order_no }}" readonly>
                </div>
                <div class="form-group col-md-4">
                    {{ form.client_representative.label_tag }}
                    {{ form.client_representative }}
                    {{ form.client_representative.errors }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    {{ form.work_area.label_tag }}
                    {{ form.work_area }}
                    {{ form.work_area.errors }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.record_shift.label_tag }}
                    {{ form.record_shift }}
                    {{ form.record_shift.errors }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.record_date.label_tag }}
                    {{ form.record_date }}
                    {{ form.record_date.errors }}
                </div>
                <div class="form-group col-md-12">
                    {{ form.weather.label_tag }}
                    {{ form.weather }}
                    {{ form.weather.errors }}
                </div>
            </div>
        </div>
        <!-- Employees Section -->
        <div class="form-section-header">*Employee (Required)</div>
        {{ employee_formset.management_form }}
        <table class="table table-bordered" id="employee-table">
            <thead>
                <tr>
                    <th scope="col" class="align-middle" width="0%" style="display: none;">id</th>
                    <th scope="col" class="align-middle" width="25%">*Name</th>
                    <th scope="col" class="align-middle" width="20%">*Position
                    </th>
                    <th scope="col" class="align-middle" width="8%">*Start Time
                    </th>
                    <th scope="col" class="align-middle" width="8%">*Finish Time
                    </th>
                    <th scope="col" class="align-middle" width="12%">Total Hours
                    </th>
                    <th scope="col" class="align-middle" width="20%">Brief Work
                        Description</th>
                    <th scope="col" class="align-middle" width="5%"></th>
                </tr>
            </thead>
            <tbody id="EmployeeTableBody">
                {% for form in employee_formset %}
                <div class="form-row">
                    <tr class="employee-row">
                        <td class="align-middle" style="display: none;">
                            {{ form.id }}
                        </td>
                        <td class="align-middle">
                            {{ form.employee_id }}
                            {{ form.employee_id.errors }}
                        </td>
                        <td class="align-middle">
                            {{ form.position_id }}
                            {{ form.position_id.errors }}
                        </td>
                        <td>
                            {{ form.start_time }}
                            {{ form.start_time.errors }}
                        </td>
                        <td>
                            {{ form.end_time }}
                            {{ form.end_time.errors }}
                        </td>
                        <td class="align-middle text-right">
                            {{ form.employee_total_hours }}
                        </td>
                        <td class="align-middle text-center">
                            {{ form.work_description }}
                            {{ form.work_description.errors }}
                        </td>
                        <td class="align-middle text-center">
                            <input type="hidden" name="{{ form.prefix }}-DELETE" id="{{ form.prefix }}-DELETE" class="employee-delete-checkbox">
                            <button type="button" class="btn btn-outline-danger remove-employee-row" id="remove-employee-row"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </div>
                {% endfor %}
            <tbody>
        </table>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-success" type="button"
                id="add-employee-row">+Add New Employee</button>
        </div>
        <!-- Equipment-->
        <div class="form-section-header">Equipment (Optional) </div>
        {{ equipment_formset.management_form }}
        <table class="table table-bordered" id="equipment-table">
            <thead>
                <tr>
                    <th scope="col" class="align-middle" width="0%" style="display: none;" >id
                    <th scope="col" class="align-middle" width="45%">Equipment
                    </th>
                    <th scope="col" class="align-middle" width="8%">Start Time
                    </th>
                    <th scope="col" class="align-middle" width="8%">Finish Time
                    </th>
                    <th scope="col" class="align-middle" width="12%">Total Hours
                    </th>
                    <th scope="col" class="align-middle" width="20%">Brief Work
                        Description</th>
                    <th scope="col" class="align-middle" width="5%"></th>
                </tr>
            </thead>
            <tbody id="EquipmentTableBody">
                {% for form in equipment_formset %}
                <div class="form-row">
                    <tr class="equipment-row" >
                        <td class="align-middle" style="display: none;">
                            {{ form.id }}
                        </td>
                        <td class="align-middle">
                            {{ form.resource_id }}
                            {{ form.resource_id.errors }}
                        </td>
                        <td>
                            {{ form.start_time }}
                            {{ form.start_time.errors }}
                        </td>
                        <td>
                            {{ form.end_time }}
                            {{ form.end_time.errors }}
                        </td>
                        <td class="align-middle text-right">
                            {{ form.equipment_total_hours  }}
                            {{ form.equipment_total_hours.errors }}
                        </td>
                        <td class="align-middle text-center">
                            {{ form.work_description }}
                            {{ form.work_description.errors }}
                        </td>
                        <td class="align-middle text-center">
                            <input type="hidden" name="{{ form.prefix }}-DELETE" id="{{ form.prefix }}-DELETE" class="equipment-delete-checkbox">
                            <button type="button"
                                class="btn btn-outline-danger remove-equipment-row"
                                id="remove-equipment-row"><i
                                    class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </div>
                {% endfor %}
            <tbody>
        </table>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-success" type="button"
                id="add-equipment-row">+Add New Equipment</button>
        </div>
        <!-- Comment -->
        <div class="form-section-header">Additional Comment</div>
        <div class="form-group col-md-12">
            {{ form.comments }}
            {{ form.comments.errors }}
        </div>
        <!-- Acknowledgements -->
        <div class="form-section-header">Acknowledgements(*Required when creating the form)</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" width="20%"></th>
                    <!-- Empty top-left corner cell -->
                    <th scope="col" width="25%">*Name</th>
                    <th scope="col" width="40%">*Date</th>
                    <th scope="col" width="15%">*Signature</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Kaddum Supervisor</th> <!-- Row header -->
                    <td class="align-middle text-right">
                        {{ form.kaddum_name }}
                        {{ form.kaddum_name.errors }}
                    </td>
                    <td class="align-middle text-right">
                        {{ form.kaddum_sign_date }}
                        {{ form.kaddum_sign_date.errors }}
                    </td>
                    <td class="align-middle text-right">
                        <canvas id="kaddum-signature-pad" class="signature-pad" width="400" height="150" style="border: 1px solid #000;"></canvas>
                        {{ form.kaddum_sign }}
                        <button type="button" onclick="clearSignature('kaddum-signature-pad')">Clear</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Client Representative</th>
                    <!-- Row header -->
                    <td class="align-middle text-right">
                        {{ form.client_name }}
                        {{ form.client_name.errors }}
                    </td>
                    <td class="align-middle text-right">
                        {{ form.client_sign_date }}
                        {{ form.client_sign_date.errors }}
                    </td>
                    <td class="align-middle text-right">
                        <canvas id="client-signature-pad" class="signature-pad" width="400" height="150" style="border: 1px solid #000;"></canvas>
                        {{ form.client_sign }}
                        <button type="button" onclick="clearSignature('client-signature-pad')">Clear</button>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button type="submit" class="form-group btn btn-success me-2" style="width: 150px" value="complete" name="click-btn" id="submit-btn">Create</button>
            <button type="submit" class="form-group btn btn-primary me-2" style="width: 150px" value="draft" name="click-btn" id="save-draft-btn">Save as Draft</button>
            <a href="{% url 'day_tracking_delete' day_tracking_id %}" class="form-group btn btn-danger me-2" style="width: 150px">Delete</a>
            <a href="{% url 'day_tracking_list' %}" class="form-group btn btn-secondary" style="width: 150px" value="back">Back</a>
        </div>
        <input type="hidden" name="is_draft" id="id_is_draft" value="{{ form.is_draft.value }}">
    </form>
    <script>
        function clearSignature(padId) {
            const pad = document.getElementById(padId);
            const signaturePad = new SignaturePad(pad);
            signaturePad.clear();
        }
    </script>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    const kaddumSignaturePad = new SignaturePad(document.getElementById('kaddum-signature-pad'));
    const clientSignaturePad = new SignaturePad(document.getElementById('client-signature-pad'));
    const dayTrackingForm = document.getElementById('day-tracking-form');
    const projectSelector = document.getElementById('id_project_no');
    const purchaseOrderDisplay = document.getElementById('purchase_order_no');

    // handling project selection changes
    projectSelector.addEventListener('change', function() {
        updatePurchaseOrder(this.value, purchaseOrderDisplay);
    });

    // Trigger the change event on page load if a project is already selected
    if (projectSelector.value) {
        updatePurchaseOrder(projectSelector.value, purchaseOrderDisplay);
    }


    dayTrackingForm.addEventListener('submit', function(event) {
        const clickBtnValue = document.querySelector('button[type="submit"][clicked=true]').value;

        // Handling Draft Submissions
        if (clickBtnValue === 'draft') {
            document.getElementById('id_is_draft').value = 'True';
            // Confirm to clear signatures when saving as a draft
            if (!kaddumSignaturePad.isEmpty() || !clientSignaturePad.isEmpty()) {
                if (confirm('If you save as a draft, the signatures will be cleared. Do you want to proceed?')) {
                    kaddumSignaturePad.clear();
                    clientSignaturePad.clear();
                }else{
                    event.preventDefault();
                    return;
                }
                // Do not prevent form submission here, let it proceed as a draft
            }
        } else if (clickBtnValue === 'complete') {
            document.getElementById('id_is_draft').value = 'False';
            // Handling Complete Submissions, require signatures
            if (kaddumSignaturePad.isEmpty() || clientSignaturePad.isEmpty()) {
                alert('Both signatures are required before creating the record.');
                event.preventDefault(); // Prevent form submission
                return; // Stop further processing
            } else {
                // Process and save signatures if not empty
                saveSignature(kaddumSignaturePad, 'id_kaddum_sign');
                saveSignature(clientSignaturePad, 'id_client_sign');
            }
        }
    });

    function saveSignature(signaturePad, inputId) {
        if (!signaturePad.isEmpty()) {
            const svgData = resizeSignature(signaturePad.toDataURL('image/svg+xml'), 400, 150, 140, 52.5);
            document.getElementById(inputId).value = svgData;
        } else {
            document.getElementById(inputId).value = ''; // Clear the input if the signature pad is empty
        }
    }

    function resizeSignature(dataUrl, originalWidth, originalHeight, newWidth, newHeight) {
        const svgData = atob(dataUrl.split(',')[1]);
        const parser = new DOMParser();
        const doc = parser.parseFromString(svgData, 'image/svg+xml');
        const svgElement = doc.documentElement;

        svgElement.setAttribute('width', newWidth);
        svgElement.setAttribute('height', newHeight);
        svgElement.setAttribute('viewBox', `0 0 ${originalWidth} ${originalHeight}`);

        const serializer = new XMLSerializer();
        const resizedSvg = serializer.serializeToString(svgElement);
        return 'data:image/svg+xml;base64,' + btoa(resizedSvg);
    }

    document.querySelectorAll('button[type="submit"]').forEach(button => {
        button.addEventListener('click', function() {
            document.querySelectorAll('button[type="submit"]').forEach(btn => btn.removeAttribute('clicked'));
            this.setAttribute('clicked', 'true');
        });
    });

    window.clearSignature = function(padId) {
        const pad = padId === 'kaddum-signature-pad' ? kaddumSignaturePad : clientSignaturePad;
        pad.clear();
    }

    calculateEmployeeTotalHours()
    calculateEquipmentTotalHours()

    // Event listener for calculating employee totol hours in employee
    document.getElementById('EmployeeTableBody').addEventListener('input', calculateEmployeeTotalHours);

    // Event listener for calculating equipment totol hours in employee row
    document.getElementById('EquipmentTableBody').addEventListener('input', calculateEquipmentTotalHours);

    // Add event listener for adding employee rows
    document.getElementById('add-employee-row').addEventListener(
        'click',
        function() {
        addEmployeeRow('employee');
        });
    // Add event listener for removing employee rows
    document.querySelectorAll('.remove-employee-row').forEach(
        function(button) {
            button.addEventListener('click', function(event) {
            removeEmployeeRow(this, 'employee');
            });
        });
    // Add event listener for adding equipment rows
    document.getElementById('add-equipment-row').addEventListener(
        'click',
        function() {
            addEquipmentRow('equipment');
        });
    // Add event listener for removing equipment rows
    document.querySelectorAll('.remove-equipment-row').forEach(
        function(button) {
            button.addEventListener('click', function(event) {
                removeEquipmentRow(this, 'equipment');
            });
        });

});

function updatePurchaseOrder(projectId, displayElement) {
    if (projectId) {
        fetch(`/api/get_purchase_order/${projectId}/`)
            .then(response => response.json())
            .then(data => {
                if (data.purchase_order_no) {
                    displayElement.value = data.purchase_order_no;
                } else {
                    displayElement.value = 'None'; // Clear on error or if no number found
                    console.error('No purchase order number found');
                }
            })
            .catch(error => {
                console.error('Error fetching purchase order:', error);
                displayElement.value = '';
            });
    } else {
        displayElement.value = '';  // Clear if no project is selected
    }
}
function addEmployeeRow() {
    var totalFormsInput = document.getElementById('id_employee-TOTAL_FORMS');
    var rowCount = parseInt(totalFormsInput.value, 10);

    // Clone the last row or create a new row
    var templateRow = document.querySelector('.employee-row:last-child').cloneNode(true);

    // Clear input values in the cloned row
    templateRow.querySelectorAll('input').forEach(function(input) {
        input.value = '';
    });

    // Clear select options in the cloned row
    templateRow.querySelectorAll('select').forEach(function(select) {
        select.selectedIndex = 0;
    });

    // Update input field names with the appropriate index
    templateRow.querySelectorAll('input, select').forEach(function(element) {
        element.name = element.name.replace(/-\d+-/, '-' + rowCount + '-');
        element.id = element.id.replace(/-\d+-/, '-' + rowCount + '-');
    });

    // Append the cloned row to the table body
    document.getElementById('EmployeeTableBody').appendChild(templateRow);

    // Update TOTAL_FORMS value
    totalFormsInput.value = rowCount + 1;

    // Attach event listener to the new remove button
    templateRow.querySelector('.remove-employee-row').addEventListener('click', function(event) {
        removeEmployeeRow(this);
    });

    // Show the newly added row
    templateRow.style.display = 'table-row';
}

function removeEmployeeRow(button) {
    const confirmed = confirm('Are you sure you want to delete this employee?');
    if (confirmed){
        var totalFormsInput = document.getElementById('id_employee-TOTAL_FORMS');
        var rowToRemove = button.closest('.employee-row');
        var deleteCheckbox = rowToRemove.querySelector('.employee-delete-checkbox');
        // Get the number of visible rows
        var visibleRows = document.querySelectorAll('.employee-row:not([style*="display: none"])');

        if (visibleRows.length > 1) {
            // Mark the row for deletion
            if (deleteCheckbox) {
                deleteCheckbox.value = 'on';
            }
            rowToRemove.style.display = 'none';  // Optionally hide the row

            // Do not decrease the TOTAL_FORMS value
        } else {
            alert("Cannot delete the last row.");
        }
    }
}

function addEquipmentRow(type) {
    var totalFormsInput = document.getElementById('id_' + type + '-TOTAL_FORMS');
    var rowCount = parseInt(totalFormsInput.value, 10);

    // Clone the last equipment row or create a new row
    var templateRow = document.querySelector('.' + type + '-row:last-child').cloneNode(true);

    // Clear input values in the cloned row
    templateRow.querySelectorAll('input').forEach(function(input) {
        input.value = '';
    });

    // Clear select options in the cloned row
    templateRow.querySelectorAll('select').forEach(function(select) {
        select.selectedIndex = 0;
    });

    // Update input field names with the appropriate index
    templateRow.querySelectorAll('input, select').forEach(function(element) {
        element.name = element.name.replace(/-\d+-/, '-' + rowCount + '-');
        element.id = element.id.replace(/-\d+-/, '-' + rowCount + '-');
    });

    // Append the cloned row to the table body
    document.getElementById('EquipmentTableBody').appendChild(templateRow);

    // Update TOTAL_FORMS value
    totalFormsInput.value = rowCount + 1;

    // Attach event listener to the new remove button
    templateRow.querySelector('.remove-equipment-row').addEventListener('click', function(event) {
        removeEquipmentRow(this, type);
    });

    // Show the newly added row
    templateRow.style.display = 'table-row';
}

    function removeEquipmentRow(button, type) {
        const confirmed = confirm('Are you sure you want to delete this employee?');
        if (confirmed){
            var totalFormsInput = document.getElementById('id_' + type + '-TOTAL_FORMS');
            var rowToRemove = button.closest('.' + type + '-row');
            var deleteCheckbox = rowToRemove.querySelector('.' + type + '-delete-checkbox');
            var idField = rowToRemove.querySelector('input[name*="id"]');

            // Mark the row for deletion
            if (deleteCheckbox) {
                deleteCheckbox.value = 'on';
            }

            if (idField && idField.value) {
                // If the row has an id, it means it's an existing record, so hide the row and mark for deletion
                rowToRemove.style.display = 'none';
            } else {
                // If the row does not have an id, it means it's a new record, so remove the row and decrement TOTAL_FORMS
                rowToRemove.remove();
                totalFormsInput.value = parseInt(totalFormsInput.value) - 1;
            }
        }
    }


    function calculateEmployeeTotalHours() {
        document.querySelectorAll('.employee-row').forEach(function(row) {
            // Get the index from the row's input field name or id
            var startTimeElement = row.querySelector('[id$="-start_time"]');
            var endTimeElement = row.querySelector('[id$="-end_time"]');
            var totalHoursElement = row.querySelector('[id$="-employee_total_hours"]');

            if (startTimeElement && endTimeElement && totalHoursElement) {
                var startTime = startTimeElement.value;
                var endTime = endTimeElement.value;

                // Check if start_time and end_time are not empty
                if (startTime && endTime) {
                    // Convert start and end times to Date objects
                    var startDate = new Date('2000-01-01 ' + startTime);
                    var endDate = new Date('2000-01-01 ' + endTime);

                    // Check if end time is less than start time, adjust end date to next day
                    if (endDate < startDate) {
                        endDate.setDate(endDate.getDate() + 1);
                    }

                    // Calculate the difference in milliseconds
                    var timeDiff = Math.abs(endDate - startDate);

                    // Convert milliseconds to hours
                    var totalHours = timeDiff / (1000 * 3600);

                    // Update the total hours input
                    totalHoursElement.value = totalHours.toFixed(2);
                }
            }
        });
    }

    function calculateEquipmentTotalHours() {
        document.querySelectorAll('.equipment-row').forEach(function(row, index) {
            var startTime = row.querySelector('#id_equipment-' + index + '-start_time').value;
            var endTime = row.querySelector('#id_equipment-' + index + '-end_time').value;

            // Check if start_time and end_time are not empty
            if (startTime && endTime) {
                // Convert start and end times to Date objects
                var startDate = new Date('2000-01-01 ' + startTime);
                var endDate = new Date('2000-01-01 ' + endTime);

                // Check if end time is less than start time, adjust end date to next day
                if (endDate < startDate) {
                    endDate.setDate(endDate.getDate() + 1);
                }

                // Calculate the difference in milliseconds
                var timeDiff = Math.abs(endDate - startDate);

                // Convert milliseconds to hours
                var totalHours = timeDiff / (1000 * 3600);

                // Update the total hours input
                row.querySelector('#id_equipment-' + index + '-equipment_total_hours').value = totalHours.toFixed(2);
            }
        });
    }
</script>
{% endblock page_content %}