{% extends "partials/base.html" %}

{% block page_content %}

<div class="container mt-4 d-flex align-items-center">
    <div class="me-auto p-2">
        <h1 class="text-left mb-4 h4">Day Tracking List</h1>
    </div>
    <div class="input-group p-2" style="width: 200px;">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary border border-none" type="button" style="background-color: #dee2e6;"><i class="bi bi-search"></i></button>
    </div>
  <div class="p-2">
      <a href="{% url 'day_tracking_create' %}" class="btn btn-danger">+ Create New Form</a>
  </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form>            
                <div class="form-section-header">Draft Records</div>
                <table class="table table-bordered" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">No.</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Date</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Week</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Project No. - Project Name</th>
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Shift</th>       
                            <th scope="col" class="align-middle" style="border-right-style: hidden;">Modification</th>       
                            <th scope="col" class="align-middle" style="border-left-style: inset;" width="8%"></th>       
                        </tr>
                    </thead>
                    <tbody id="DraftTableBody">
                        {% for record in draft_records %}
                        <tr>
                            <td class="align-middle" style="border-right-style: hidden;">{{ record.day_tracking_id }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ record.record_date|date:"d/m/y" }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ record.year_week }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ record.project_no }}</td>
                            <td class="align-middle" style="border-right-style: hidden;">{{ record.record_shift }}</td>                            
                            <td class="align-middle" style="border-right-style: hidden;">{{ record.last_modification_date|date:"d/m/y H:i" }}</td>                            
                            <td class="align-middle" style="border-left-style: inset;">                           
                                <div class="d-flex justify-content-evenly">
                                  <a href="{% url 'day_tracking_update' record.day_tracking_id %}" class="btn btn-outline-success btn-sm">Edit</a> 
                                </div>
                            </td>          
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No draft records found.</td>
                        </tr>                        
                        {% endfor %}
                    <tbody>
                </table>
               
                <div class="form-section-header" style="margin-top: 80px;">Completed Records</div>
              
                <table class="table table-bordered" style="border-collapse: collapse;">
                  <thead>
                      <tr>
                        <th scope="col" class="align-middle" style="border-right-style: hidden;">No.</th>
                        <th scope="col" class="align-middle" style="border-right-style: hidden;">Date</th>
                        <th scope="col" class="align-middle" style="border-right-style: hidden;">Week</th>
                        <th scope="col" class="align-middle" style="border-right-style: hidden;">Project No. - Project Name</th>
                        <th scope="col" class="align-middle" style="border-right-style: hidden;">Shift</th>       
                        <th scope="col" class="align-middle" style="border-right-style: hidden;">Modification</th>       
                        <th scope="col" class="align-middle" style="border-left-style: inset;" width="8%"></th>             
                      </tr>
                  </thead>
                  <tbody id="DraftTableBody">
                      {% for record in completed_records %}
                      <tr>
                        <td class="align-middle" style="border-right-style: hidden;">{{ record.day_tracking_id }}</td>
                        <td class="align-middle" style="border-right-style: hidden;">{{ record.record_date|date:"d/m/y" }}</td>
                        <td class="align-middle" style="border-right-style: hidden;">{{ record.year_week }}</td>
                        <td class="align-middle" style="border-right-style: hidden;">{{ record.project_no }}</td>
                        <td class="align-middle" style="border-right-style: hidden;">{{ record.record_shift }}</td>                            
                        <td class="align-middle" style="border-right-style: hidden;">{{ record.last_modification_date|date:"d/m/y H:i" }}</td>                                                       
                        <td class="align-middle" style="border-left-style: inset;">                           
                            <div class="d-flex justify-content-evenly">
                                <a href="{% url 'day_tracking_view' record.day_tracking_id %}" class="btn btn-outline-primary btn-sm">View</a>
                            </div>   
                        </td>          
                      </tr>                        
                      {% endfor %}
                  <tbody>
              </table>
            </form>
        </div>
    </div>
</div>

{% endblock page_content %}