{% extends "partials/base.html" %}

{% block page_content %}
<div class="p-2 px-3 d-flex justify-content-between topbar">
  <h4 class="header">Dashboard</h4>
  <div class="dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
      <i class="bi bi-person-fill"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</div>
<div class="p-4 main-content">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="card">
        <h3 class="my-3 pt-3 text-center card-icon">
          <i class="p-3 bi bi-file-earmark"></i>
        </h3>
        <div class="card-body">
          <h5 class="text-center card-title"><a href="{% url 'create_dairy_record' %}"
              style="text-decoration: none; color: black;">Daily Record</a></h5>
          <a href="{% url 'create_dairy_record' %}" class="btn card-text">+ Add New</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="card">
        <h3 class="my-3 pt-3 text-center card-icon">
          <i class="p-3 bi bi-file-earmark-text-fill"></i>
        </h3>
        <div class="card-body">
          <h5 class="text-center card-title"><a href="{% url 'day_tracking_create' %}"
              style="text-decoration: none; color: black;">Day Tracking</a></h5>
          <a href="{% url 'day_tracking_create' %}" class="btn card-text">+ Add New</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="card">
        <h3 class="my-3 pt-3 text-center card-icon">
          <i class="p-3 bi bi-calculator"></i>
        </h3>
        <div class="card-body">
          <h5 class="text-center card-title"> <a href="{% url 'all_daily_costing' %}"
              style="text-decoration: none; color: black;">Daily Costing</a></h5>
          <a href="{% url 'all_daily_costing' %}" class="btn card-text">+ Add New</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col">
      <div class="card">
        <h4 class="card-header bg-white border-0">History</h4>
        <div class="p-3 table-container">
          <div class="table-header p-1 px-2">
            <div class="row">
              <div class="col-2">Record Date</div>
              <div class="col-4">Project No</div>
              <div class="col-4">Supervisor</div>
              <div class="col-2">Action</div>
            </div>
          </div>
          <div class="table-data p-1 px-2">
            {% for dairy_record in records %}
            <div class="my-1 row">
              <div class="col-2 d-flex align-items-center">{{ dairy_record.record_date|date:"d/m/Y" }}</div>
              <div class="col-4 d-flex align-items-center">{{ dairy_record.project_no.project_name }}</div>
              <div class="col-4 d-flex align-items-center">{{ dairy_record.supervisor_id }}</div>
              <div class="col-2 d-flex align-items-center justify-content-end">
                <a href="{% url 'view_dairy_record' dairy_record.dairy_record_id %}"
                  class="btn py-1 px-2 view-btn">View</a>
                <a href="{% url 'edit_dairy_record' dairy_record.dairy_record_id %}"
                  class="btn py-1 px-2 view-btn">Edit</a>
              </div>
            </div>
            {% empty %}
            <div class="my-1 row">
              <div class="col-12 text-center">No records found.</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}