{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4">
    <h1 class="text-left mb-4 h4">Daily Costing</h1>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-section-header">Shift Information</div>
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <select class="form-control" id="projectName" name="projectName" onchange="updateCostingFields()" required>
                        <option value="">Select a Project</option>
                        {% for project in projects %}
                        <option value="{{ project.project_name }}">{{ project.project_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" placeholder="Date" name="date" onchange="updateCostingFields()">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="day">Day</label>
                        <input type="text" class="form-control" id="day" readonly>
                    </div>
                </div>
                <div class="form-section-header">Costing Breakdown</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle">Name</th>
                            <th scope="col" class="align-middle">Position</th>
                            <th scope="col" class="align-middle" width="12%">Rate</th>
                            <th scope="col" class="align-middle" width="12%">Total Hours</th>
                            <th scope="col" class="align-middle" width="12%">Total Amount</th>
                            <th scope="col" class="align-middle" width="10%">Indigenous</th>
                            <th scope="col" class="align-middle" width="10%">Local</th>
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        <tr>
                            <td class="align-middle">
                                <select class="form-control" name="name[]">
                                    <option value="">Select Name</option>
                                    {% for name in employee_names %}
                                    <option value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="align-middle">
                                <select class="form-control" name="position[]">
                                    <option value="">Select Position</option>
                                    {% for position in positions %}
                                    <option value="{{ position }}">{{ position }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="number" class="form-control" name="rate[]" step="0.01" min="0"></td>
                            <td><input type="number" class="form-control" name="hours[]" min="0"></td>
                            <td class="align-middle text-right"></td> <!-- Total Amount -->
                            <td class="align-middle text-center"></td> <!-- Indigenous -->
                            <td class="align-middle text-center"></td> <!-- Local -->
                        </tr>                        
                    <tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="3">Total</th>
                            <td>33</td>
                            <td>240</td>
                            <td scope="row" colspan="3"></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- <div class="link-container">
                    <a href="#" class="add-link" onclick="addEmployeeRow(); return false;">+ Add New Row</a>
                </div> -->
                <div class="form-section-header">Daily Costing Summary</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th> <!-- Empty top-left corner cell -->
                            <th scope="col">Hours</th>
                            <th scope="col">Hours %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Indigenous</th> <!-- Row header -->
                            <td class="align-middle text-right">80.55</td> <!-- Example data -->
                            <td class="align-middle text-right">50.00%</td> <!-- Example data -->
                        </tr>
                        <tr>
                            <th scope="row">Local</th> <!-- Row header -->
                            <td class="align-middle text-right">80.55</td> <!-- Example data -->
                            <td class="align-middle text-right">50.00%</td> <!-- Example data -->
                        </tr>       
                    </tbody>
                </table>
                <button type="submit" class="form-group btn btn-success col-2" value="submit">Complete</button>
                <button type="submit" class="form-group btn btn-outline-success col-2" value="submit">Save as Draft</button>
                <a href="{% url 'index' %}" type="submit" class="form-group btn btn-outline-primary col-2" value="back">Back</a>

            </form>
        </div>
    </div>
</div>

{% endblock page_content %}