{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4">
    <h2>Delete Employee Record</h2>
    <p>Are you sure you want to delete this record?</p>
    <div>
        <form action="{% url 'employee_delete' employee.username %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Confirm" class="btn btn-danger">
            <a href="{% url 'employees_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
