{% extends "partials/base.html" %}

{% block page_content %}
<div class="container">
    <h4 class="text-left mb-4">Create New Employee</h4>
</div>
<div class="container">
    <div class="form-section-header">*Required Fields</div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.first_name.errors }}
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>

            <div class="form-group">
                {{ form.last_name.errors }}
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>

            <div class="form-group">{{ form.email.errors }}

                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="form-group">
                {{ form.is_indigenous.errors }}
                {{ form.is_indigenous.label_tag }}
                {{ form.is_indigenous }}
            </div>

            <div class="form-group">
                {{ form.is_local.errors }}
                {{ form.is_local.label_tag }}
                {{ form.is_local }}
            </div>

            <div class="form-group">
                {{ form.position_id.errors }}
                {{ form.position_id.label_tag }}
                {{ form.position_id }}
            </div>
        {% if request.user.roles == "super admin" %}
            <div class="form-group">
                {{ form.roles.errors }}
                {{ form.roles.label_tag }}
                {{ form.roles }}
            </div>
        {% elif request.user.roles == "supervisor" %}
            <div class="form-group">
                <label for="id_roles">*System Role:</label>
                <select name="roles" class="form-control" id="id_roles" required aria-readonly="true">
                    <option value="employee" selected>Employee</option>
                </select>
            </div>
        {% endif %}
            <div class="form-group">
                {{ form.is_active.errors }}
                {{ form.is_active.label_tag }}
                {{ form.is_active }}
            </div>
            {{ form.non_field_errors }}

            <div class="d-flex justify-content-end">
                <button type="submit" class="form-group btn btn-success me-2" style="width: 150px" value="submit">Create</button>
                <a href="{% url 'employees_list' %}" type="submit" class="form-group btn btn-secondary me-2" style="width: 150px"
                    value="back">Cancel</a>
            </div>
        </form>
    </div>
</div>


{% endblock page_content %}