{% extends "partials/base.html" %}

{% block page_content %}
<div class="container mt-4 d-flex align-items-center">
    <div class="me-auto p-2">
        <h1 class="text-left mb-4 h4">Employee List</h1>
    </div>
    {% if request.user.roles == "super admin" %}
    <div class="p-2">
        <a href="{% url 'employees_create' %}" class="btn btn-danger">+ Create New Employee</a>
    </div>
    {% endif %}
    {% comment %} <div>
        <button type="submit" class="btn btn-danger btn-lg float-right">Save</button>
    </div> {% endcomment %}
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <!-- search bar -->
            <div class="container d-flex justify-content-end" style="margin: 0; padding: 0;">
                <form method="get" action="">
                    <div class="input-group" style="width: 300px; margin-bottom: 20px;">
                        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary border border-none" type="submit" style="background-color: #dee2e6;">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <a href="{% url 'project_list' %}" class="btn btn-outline-secondary" style="margin-left: 10px; height: 38px;">
                    Clear
                </a>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color: lightcoral;">
                        <th scope="col" class="align-middle"><small> ID</small></th>
                        <th scope="col" class="align-middle" width=><small>Full Name</small></th>
                        <th scope="col" class="align-middle" ><small>Email</small></th>
                        <th scope="col" class="align-middle" width="8%"><small>Indigenous</small></th>
                        <th scope="col" class="align-middle" width="8%"><small>Local</small></th>
                        <th scope="col" class="align-middle"><small>Position</small></th>
                        <th scope="col" class="align-middle"><small>Role</small></th>
                        <th scope="col" class="align-middle" ><small>Status</small></th>
                        <th scope="col" class="align-middle"><small></small></th>
                    </tr>
                </thead>
                <tbody id="employeeTableBody">
                    {% for employee in employee_list %}
                    <tr>
                        <td class="align-middle"><small>{{employee.username}}</small></td>
                        <td class="align-middle"><small>{{employee.full_name}}</small></td>
                        <td class="align-middle"><small>{{employee.email}}</small></td>
                        <td class="align-middle"><small>{% if employee.is_indigenous %}Yes{% else %}No{% endif %}</small></td>
                        <td class="align-middle"><small>{% if employee.is_local %}Yes{% else %}No{% endif %}</small></td>
                        <td class="align-middle"><small>{{employee.position_id.item_name}}</small></td>
                        {% if request.user.roles == "super admin" %}
                        <td class="align-middle"><small>{{employee.roles}}</small></td>
                        {% endif %}
                        <td class="align-middle"><small>{% if employee.is_active %}Active{% else %} Inactive {% endif%}</small></td>
                        <td>
                            <a href="{% url 'employees_edit' employee.username %}" class="btn btn-outline-success btn-sm">Edit</a>
                        </td>
                        <!-- <td class="align-middle"><small><a href="{% url 'delete_employee' employee.username %}" class="btn btn-sm btn-danger">X</a></small></td> -->
                    </tr>
                    {% endfor%}
                <tbody>
            </table>
            <!-- Pagination controls -->
            <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if employee_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ employee_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                </li>
                {% endif %}
                <li class="page-item disabled">
                    <span class="page-link">Page {{ employee_list.number }} of {{ employee_list.paginator.num_pages }}</span>
                </li>
                {% if employee_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ employee_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock page_content %}