{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'logo.jpg' %}" rel="icon" type="image/png">
    <title>Login in - Kaddum System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">

</head>

<body>
    <main>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="" method="POST">
            {% csrf_token %}
          <h2>Log In</h2>
          <input type="text" name = "username" placeholder="Username" value="{{ username }}" required />
          <input type="password" name = "password" placeholder="Password" required />
          <button type="submit">Log in</button>
          <div>
            {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'error' %}
              <h5 style="color: red;">{{ message }}</h5>
              {% else %}
              <h5 style="color: green;">{{ message }}</h5>
              {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </form>
        <!--show error message-->

      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <figure><img src="{% static "users/login_page_img.png" %}" alt="sing up image"></figure>
          </div>
        </div>
      </div>
    </div>
  </main>


</body>
<script
src={% static "users/users.js" %}></script>
</html>