{% extends "partials/base.html" %}

{% block page_content %}
<div class="container">
  <h4 class="text-left mb-4">Create New Resource</h4>
</div>
<div class="container">
  <div class="form-section-header">*Required Fields</div>
  <form method="post" action="{% url 'create_resource_cost' %}">
    {% csrf_token %}
    <div class="form-group mb-3">
      {{ form.item_type.label_tag }}
      {{ form.item_type }}
      {{ form.item_type.error }}
    </div>
    <div class="form-group mb-3">
      {{ form.item_name.label_tag }}
      {{ form.item_name }}
      {{ form.item_name.error }}
    </div>
    <div class="form-group mb-3">
      {{ form.item_id.label_tag }}
      {{ form.item_id }}
      {{ form.item_id.error }}
    </div>
    <div class="form-group mb-3">
      {{ form.item_location.label_tag }}
      {{ form.item_location }}
      {{ form.item_location.error }}
    </div>
    <div class="form-group mb-3">
      {{ form.item_rate.label_tag }}
      {{ form.item_rate }}
      {{ form.item_rate.error }}
    </div>
    <div class="form-group mb-3">
      {{ form.unit_of_measure.label_tag }}
      {{ form.unit_of_measure }}
      {{ form.unit_of_measure.error }}
    </div>
    <div class="form-group mb-3">
      {{ form.mobilisation_desc.label_tag }}
      {{ form.mobilisation_desc }}
      {{ form.mobilisation_desc.error }}
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="form-group btn btn-success me-2" style="width: 150px" value="submit">Create</button>
        <a href="{% url 'resource_cost_list' %}" type="submit" class="form-group btn btn-secondary me-2" style="width: 150px" value="back">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
