{% extends "partials/base.html" %}

{% load static %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'resource.css' %}">
{% endblock %}

{% block page_content %}
<div class="container mt-4">
    <h1 class="text-left mb-4 h4">Resource Cost List</h1>
    <div class="mb-4">
        <a href="{% url 'create_resource_cost' %}" class="btn btn-danger" style="background-color: #dc3545;">+ Create New Resource Cost</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Type</th>
                <th>Name</th>
                <!-- <th>Location</th> -->
                <th>Cost Rate</th>
                <th>UOM</th>
                <!-- <th>Mobilisation Description</th> -->
                <th>Last Modified</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for resource in resources %}
            <tr>
                <td>{{ resource.pk }}</td>
                <td>{{ resource.item_type|capfirst }}</td>
                <td>{{ resource.item_name }}</td>
                <!-- <td>{{ resource.item_location }}</td> -->
                <td>{{ resource.item_rate }}</td>
                <td>{{ resource.unit_of_measure|capfirst }}</td>
                <!-- <td>{{ resource.mobilisation_desc }}</td> -->
                <td>{{ resource.last_modification_date|date:"m/d/y" }}</td>
                <td>
                    <div class="action-buttons">
                        <a href="{% url 'edit_resource_cost' resource.resource_id %}" class="btn btn-outline-success btn-sm">Edit</a>
                        <!-- <a href="{% url 'delete_resource_cost' resource.resource_id %}" class="btn btn-outline-danger btn-sm">Delete</a> -->
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">No resource costs found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
